<center> <h1>Assignment 1</h1> </center>

The following code loads the nba dataset (nba.csv) from an online repository into a dataframe named "nba".

The columns are organized as "Name",	"Team",	"Number",	"Position",	"Age",	"Height",	"Weight",	"College",	"Salary". Use this dataset to answer the questions below. You can create as many cells as you desire for all solutions.

In [2]:
import pandas as pd
nba = pd.read_csv("https://media.geeksforgeeks.org/wp-content/uploads/nba.csv") 
nba.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

### Question 1: 
Create a new dataframe named "nba_new" by adding a new column named "College Degree" right before the column "College". Fill the rows of this column with "True" if there is a college name entry under the column "College" for the associated row. Make sure the new column named "College Degree" is located right before the column "College".<br/>

### Solution 1:

In [4]:
#Work on your solution here and after.

### Question 2:
Report the first 5 rows of nba_new dataframe.<br/>

### Solution 2:

In [ ]:
#Work on your solution here and after.

### Question 3:
Make sure the new column is of data type boolean and report it is actually boolean.<br/>

### Solution 3:

In [ ]:
#Work on your solution here and after.

### Question 4:
Create a list that holds the names of the players who do not have any college degree (or no university name entry given under "College" column in the data set) through using a for loop and if statement. Report only the number of those players.<br/>

### Solution 4:

In [ ]:
#Work on your solution here and after.

### Question 5:
Create two dataframes named "no_college_degree" and "with_college_degree". no_college_degree dataframe should include two columns one for names and one for salaries of those players who do not hold a college degree. Likewise, with_college_degree dataframe should include two columns one for names and one for salaries of those players who do not hold a college degree. Report the first 5 rows of each dataframe. Use for loop and if statement in your solution.<br/>

### Solution 5:

In [ ]:
#Work on your solution here and after.

### Question 6:
Report the average salary of players with college and no college degrees.<br/>

### Solution 6:

In [ ]:
#Work on your solution here and after.

### Question 7:
Rename column named "Height" to "Height (feet-inches)". Add a new column named "Height (inches)" to the existing dataframe. The column should include values in total inches. Say, for example, if a player's height is 6-0, the new column should show it as 72. Add another column named "Tall" to the existing dataframe. This column should indicate a bool type value of True if the associated player height is greater than or equal to 80 inches. Otherwise, its value should be False. Use for loop and if statement in your solution.<br/>

### Solution 7:

In [ ]:
#Work on your solution here and after.

### Question 8:
By using the dataframe with the new column "Tall", report the agerage salaries of players who are labeled as 'True' under Tall column. Also, report the average salaries of players who are labeled as 'False' under Tall column.<br/>

### Solution 8:

In [ ]:
#Work on your solution here and after.

### Question 9:
Add a new column named "Young" to the existing dataframe. This column should indicate a bool type value of True if the associated player age is less than 30. Otherwise, its value should be False. Use for loop and if statement in your solution.<br/>

### Solution 9:

In [ ]:
#Work on your solution here and after.

### Question 10:
By using the dataframe with the new column "Young", report the average salaries of players who are labeled as 'True' under Young column. Also, report the average salaries of players who are labeled as 'False' under Young column.<br/>

### Solution 10:

In [ ]:
#Work on your solution here and after.