# <center> <h1>Assignment 3</h1> </center>
<center> <h1>EIN 4933/6935 Python for Data Science Summer 2020</h1> </center>

## Part 1
The following code loads a popular dataset so-called titanic.csv from an online repository into a dataframe named "titanic". As you may guess, this is a real data set that stores some important information about the passengers of Titanic. 

The columns are organized as "PassengerId", "Survived", "Pclass", "Name", "Sex", "Age", "SibSp", "Parch", "Ticket", "Fare", "Cabin", "Embarked". The column named "Survived" shows whether a passenger survided (with 1) or not (with 0) from this tragic accident. Use this dataset to answer the questions below. You can create as many cells as you desire for all solutions.<br/>

In [3]:
import pandas as pd
# titanic = pd.read_csv("https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv")
titanic = pd.read_csv("https://sites.google.com/site/yasinunlu/home/research/new1/Titanic_train.csv")
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### Question 1:
Write a class named "My_data_class" that has the following attributes and methods:<br/>
1) Three attributes for data sets. The constructor of the class should have 3 data set names defined: "train", "test" and "data". For all these attributes, assign a simple Pandas dataframe with some values.<br/>
2) Setter methods for train, test and data.<br/>
3) Getter methods for train, test and data.<br/>
4) Getter methods for each data name should check whether the underling data type is a Pandas dataframe or not. These methods should only accept Pandas dataframes. You can use the function `isinstance(my_data, pd.DataFrame)` within those getter methods to check whether my_data is of Pandas dataframe type.<br/> 
5) A method that cuts the given "data" into two random parts row-wise. 80% of "data" should be assigned to "train" and 20% of data should be assigned to "test". Each train and test should be in dataframe type.<br/>
6) A method that prints "This is a data object." when printing an instance of this class (i.e. an object). Hint: You should use \__str__ function.<br/>

In [4]:
#Fill in this class
import pandas as pd
class My_data_class:
    def __init__(self):
        self.train = pd.DataFrame([1]) #default data type
        self.test = pd.DataFrame([1]) #default data type
        self.data = pd.DataFrame([1]) #default data type
    
    def create_test_train(): #create a method to find test and train data
        self.test = None
        self.train = None
        
    @property #how we define a getter. Always define a getter before a setter function.
    def data(self): #a getter function, which is a method in this class. 
        return self.__data
    
    @data.setter #how we define a setter
    def data(self, my_data): #a setter function, which is a method in this class.
        self.__data = my_data #no "return" is necessary

## Question 2:
Create an object named "my_data_object" as an instance of the class defined in Question 1.<br/>
1) Attach the dataframe "titanic" as data attribute to this object.<br/>
2) Report the first 5 rows and the number of rows of "data".

In [ ]:
my_data_object = My_data_class() #create your object first
my_data_object.data = titanic #attach the data
my_data_object.data.head() #report

## Question 3:
Modify `data_preprocessing` function so that it receives an object as args. Perform the same data manipulation operations that we did in this function in Assignment-2 for "data". This function should attach the data manipulated results back to my_data_object.

In [ ]:
#Work on your solution here and after. 
#1) Write your function here
def data_preprocessing (obj): 
    #body of the function
    return obj #return your object

#2) Call your function here
my_data_object = data_preprocessing(my_data_object)
my_data_object.data.head() #report the head of train dataframe

## Question 4:
Modify `feature_extraction` function so that it receives an object as args. Perform the same data manipulation operations that we did in this function function in Assignment-2 for "data". This function should attach the data manipulated results back to my_data_object.

In [ ]:
#Work on your solution here and after. 
#1) Write your function here
def feature_extraction (obj): 
    #body of the function
    return obj #return your object

#2) Call your function here
my_data_object = feature_extraction(my_data_object)
my_data_object.data.head() #report the head of train dataframe

## Question 5:
Call create_test_train() function attached to the my_data_object. Report the following:<br/>
a) First 5 rows and the number of rows of "data".<br/>
b) First 5 rows and the number of rows of "train".<br/>
c) First 5 rows and the number of rows of "test".<br/>

In [ ]:
my_data_object_create_test_train()
my_data_object.train.head() #report the head of train dataframe
my_data_object.test.head() #report the head of test dataframe