# <center> <h1>Assignment 4</h1> </center>
<center> <h1>EIN 4933/6935 Python for Data Science Summer 2020</h1> </center>

## Questions:
*Return a Jupyter Notebook and a zipped folder for all files that you create. Do not include the database file.*<br/>
1) Click the link below and download the SQLite database named "chinook.db".<br/>
Link: https://sites.google.com/site/yasinunlu/home/research/new1/chinook.db<br/>
2) You can browse the given database file using an online database browser. Here is an example link: https://sqliteonline.com/. How many tables are there in the database?<br/>
3) Establish a connection using Python code below.<br/>
4) Choose and read 3 different tables in the database as Pandas dataframe. In the code below, you see a table named "tracks" stored into Pandas dataframe named "df_tracks".<br/>
5) Store each dataframe file as a CSV file in .csv and .txt extensions and a TSV file in .txt extension. For example, df_tracks dataframe should be stored under a name "tracks_CSV.csv", "tracks_CSV.txt" and "tracks_TSV.txt".<br/>
6) Store each dataframe file as a .json file by using `to_json()` in Pandas. For example, df_tracks dataframe should be stored under a name "tracks.json". Please note these files must be in JSON files.<br/>
7) Read each .json file as a single string by using `read()` function in Python.<br/>
8) You must notice this is not in a nice format (i.e. no indentation). Create a JSON object by using `json.loads()`.<br/> 
9) Convert the JSON object into an indented format by using `json.dumps()` function.<br/>
10) Write the formatted data into a file with .json extension. Use `write()` function. For example, the JSON formatted data of df_tracks dataframe should be stored under a name "tracks_formatted.json".

## Bonus Questions:
*Return only a Jupyter Notebook.*<br/>
11) Report the names and the total number of tables in the database by using Python code.<br/>
12) Create  _CSV.csv, _CSV.txt, _TSV.txt and formatted .json files in an automated fashion using Python code.<br/>

### 1. Download the SQLite database named "chinook.db".  
  Link: https://sites.google.com/site/yasinunlu/home/research/new1/chinook.db
### 2. How many tables are there in the database?

*Answer:* There are 13 tables in the database including:

1. albums
2. employees
3. invoices
4. playlists
5. artists
6. genres
7. media_types
8. tracks
9. customers
10. invoice_items
11. playlist_track
12. sqlite_sequence
13. sqlite_stat1

### 3. Establish a connection using Python code below.

In [1]:
import pandas as pd
import sqlite3

In [4]:
# %pwd

In [3]:
conn = sqlite3.connect("..\\data\\chinook.db")
conn

### 4) Choose and read 3 different tables in the database as Pandas dataframe. 
In the code below, you see a table named "tracks" stored into Pandas dataframe named "df_tracks".

In [5]:
df_employees = pd.read_sql_query("SELECT * FROM employees;", conn)
df_employees.head(2)

,EmployeeId,LastName,FirstName,Title,ReportsTo,BirthDate,HireDate,Address,City,State,Country,PostalCode,Phone,Fax,Email
0,1,Adams,Andrew,General Manager,NaN,1962-02-18 00:00:00,2002-08-14 00:00:00,11120 Jasper Ave NW,Edmonton,AB,Canada,T5K 2N1,+1 (780) 428-9482,+1 (780) 428-3457,andrew@chinookcorp.com
1,2,Edwards,Nancy,Sales Manager,1.0,1958-12-08 00:00:00,2002-05-01 00:00:00,825 8 Ave SW,Calgary,AB,Canada,T2P 2T3,+1 (403) 262-3443,+1 (403) 262-3322,nancy@chinookcorp.com

In [6]:
df_customers = pd.read_sql_query("SELECT * FROM customers;", conn)
df_customers.head(2)

,CustomerId,FirstName,LastName,Company,Address,City,State,Country,PostalCode,Phone,Fax,Email,SupportRepId
0,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br,3
1,2,Leonie,Köhler,None,Theodor-Heuss-Straße 34,Stuttgart,None,Germany,70174,+49 0711 2842222,None,leonekohler@surfeu.de,5

In [8]:
df_artists = pd.read_sql_query("SELECT * FROM artists;", conn)
df_artists.head(5)

   ArtistId               Name
0         1              AC/DC
1         2             Accept
2         3          Aerosmith
3         4  Alanis Morissette
4         5    Alice In Chains

In [9]:
conn.close()

### 5. Store each dataframe file as:
* a CSV file in .csv and .txt extensions and 
* a TSV file in .txt extension. 

For example, df_tracks dataframe should be stored under a name "tracks_CSV.csv", "tracks_CSV.txt" and "tracks_TSV.txt".

In [10]:
df_employees.to_csv("Assignment4_files\\employees_CSV.csv", index = False)
df_employees.to_csv("Assignment4_files\\employees_CSV.txt", index = False)
df_employees.to_csv("Assignment4_files\\employees_TSV.txt", sep = "\t", index = False)

In [11]:
df_customers.to_csv("Assignment4_files\\customers_CSV.csv", index = False)
df_customers.to_csv("Assignment4_files\\customers_CSV.txt", index = False)
df_customers.to_csv("Assignment4_files\\customers_TSV.txt", sep = "\t", index = False)

In [12]:
df_artists.to_csv("Assignment4_files\\artists_CSV.csv", index = False)
df_artists.to_csv("Assignment4_files\\artists_CSV.txt", index = False)
df_artists.to_csv("Assignment4_files\\artists_TSV.txt", sep = "\t", index = False)

### 6. Store each dataframe file as a .json file by using to_json() in Pandas. 
For example, df_tracks dataframe should be stored under a name "tracks.json". Please note these files must be in JSON files.

In [13]:
df_employees.to_json("Assignment4_files\\employees.json")
df_customers.to_json("Assignment4_files\\customers.json")
df_artists.to_json("Assignment4_files\\artists.json")

### 7. Read each `.json` file as a single string by using `read()` function in Python.

In [14]:
with open("Assignment4_files\\employees.json", "r") as json_file1:
    employees_json_data = json_file1.read()
    
with open("Assignment4_files\\customers.json", "r") as json_file2:
    customers_json_data = json_file2.read()

with open("Assignment4_files\\artists.json", "r") as json_file3:
    artists_json_data = json_file3.read()

print(json_file1.closed, json_file2.closed, json_file3.closed)
print(type(employees_json_data), type(customers_json_data), type(artists_json_data))
# print(employees_json_data)

True True True
<class 'str'> <class 'str'> <class 'str'>

### 8. Create a JSON object by using json.loads().  
You must notice this is not in a nice format (i.e. no indentation).

In [15]:
import json as JSON
employees_json_object = JSON.loads(employees_json_data)
# print(employees_json_object)

In [16]:
customers_json_object = JSON.loads(customers_json_data)
# print(customers_json_object)

In [17]:
artists_json_object = JSON.loads(artists_json_data)
# print(artists_json_object)

### 9. Convert the JSON object into an indented format by using `json.dumps()` function.
This will convert the object inot a nicer, indented format.

In [18]:
employees_json_formatted = JSON.dumps(employees_json_object, indent = 2)
# print(employees_json_formatted)

In [19]:
customers_json_formatted = JSON.dumps(customers_json_object, indent = 2)
# print(customers_json_formatted)

In [20]:
artists_json_formatted = JSON.dumps(artists_json_object, indent = 2)
# print(artists_json_formatted)

### 10. Write the formatted data into a file with .json extension. Use `write()` function. 
For example, the JSON formatted data of df_tracks dataframe should be stored under a name "tracks_formatted.json".

In [21]:
with open("Assignment4_files\\employees_formatted.json","w") as file1:
    file1.write(employees_json_formatted)

with open("Assignment4_files\\customers_formatted.json","w") as file2:
    file2.write(customers_json_formatted)

with open("Assignment4_files\\artists_formatted.json","w") as file3:
    file3.write(artists_json_formatted)

print(file1.closed, file2.closed, file3.closed)

True True True

## Bonus Questions:
*Return only a Jupyter Notebook.*<br/>

### 11. Report the names and the total number of tables in the database by using Python code.

In [22]:
import sqlite3
conn = sqlite3.connect("..\\data\\chinook.db")

cur = conn.cursor()
cur.execute('SELECT name from sqlite_master WHERE type= "table"')
db_tables = cur.fetchall()

conn.close()

In [23]:
print("The 'chinook.db' database has {} tables.".format(len(db_tables)))

The 'chinook.db' database has 13 tables.

In [24]:
for table in db_tables:
    print(table[0])

albums
sqlite_sequence
artists
customers
employees
genres
invoices
invoice_items
media_types
playlists
playlist_track
tracks
sqlite_stat1

In [25]:
table_names = [table[0] for table in db_tables]
# table_names

### 12. Create  `_CSV.csv`, `_CSV.txt`, `_TSV.txt` and formatted `.json` files in an automated fashion using Python code.

In [26]:
import pandas as pd
import sqlite3
import json as JSON
import os


def file_write(table, db_loc, save_loc):
    """This is a function for automated creation of CSV, TSV, and JSON files 
    from a dataframe imported from a database."""
    # Establish a connection using Python code below.
    conn = sqlite3.connect(db_loc)

    # Read tables in the database as Pandas dataframe.
    query = "SELECT * FROM " + table + ";"
    df = pd.read_sql_query(query, conn)

    conn.close()

    # Store each dataframe as a CSV file (in .csv and .txt extensions) and a TSV file in .txt extension.
    ext_CSV_csv = table +"_CSV.csv"
    ext_CSV_txt = table +"_CSV.txt"
    ext_TSV_txt = table +"_TSV.txt"

    df.to_csv(os.path.join(directory, ext_CSV_csv), index = False)
    df.to_csv(os.path.join(directory, ext_CSV_txt), index = False)
    df.to_csv(os.path.join(directory, ext_TSV_txt), sep = "\t", index = False)


    # Store each dataframe file as a .json file by using to_json() in Pandas.
    ext_json = table + ".json"
    df.to_json(os.path.join(directory, ext_json))

    # Read each .json file as a single string by using read() function in Python.
    with open(os.path.join(directory, ext_json), "r") as json_file:
        json_data = json_file.read()

    # Create a JSON object by using json.loads().
    json_object = JSON.loads(json_data)

    # Convert the JSON object into an indented format by using json.dumps() function.
    json_formatted = JSON.dumps(json_object, indent = 2)

    # Write the formatted data into a file with .json extension. Use write() function.
    ext_json_formatted = table + "_formatted.json"
    with open(os.path.join(directory, ext_json_formatted),"w") as file:
        file.write(json_formatted)

In [27]:
chinook = "..\\data\\chinook.db"
directory = "Assignment4_files_auto\\"

for table in table_names:
    file_write(table, db_loc=chinook, save_loc=directory)

In [29]:
all_files = os.listdir(directory)
print(f"There are {len(all_files)} files in this directory (5 files for each table)!")
all_files

There are 65 files in this directory (5 files for each table)!

['albums.json',
 'albums_CSV.csv',
 'albums_CSV.txt',
 'albums_formatted.json',
 'albums_TSV.txt',
 'artists.json',
 'artists_CSV.csv',
 'artists_CSV.txt',
 'artists_formatted.json',
 'artists_TSV.txt',
 'customers.json',
 'customers_CSV.csv',
 'customers_CSV.txt',
 'customers_formatted.json',
 'customers_TSV.txt',
 'employees.json',
 'employees_CSV.csv',
 'employees_CSV.txt',
 'employees_formatted.json',
 'employees_TSV.txt',
 'genres.json',
 'genres_CSV.csv',
 'genres_CSV.txt',
 'genres_formatted.json',
 'genres_TSV.txt',
 'invoices.json',
 'invoices_CSV.csv',
 'invoices_CSV.txt',
 'invoices_formatted.json',
 'invoices_TSV.txt',
 'invoice_items.json',
 'invoice_items_CSV.csv',
 'invoice_items_CSV.txt',
 'invoice_items_formatted.json',
 'invoice_items_TSV.txt',
 'media_types.json',
 'media_types_CSV.csv',
 'media_types_CSV.txt',
 'media_types_formatted.json',
 'media_types_TSV.txt',
 'playlists.json',
 'playlists_CSV.csv',
 'playlists_CSV.txt',
 'playlists_formatted.json',
 'playlists_TSV.txt',
 'playlist_track.json',
 'playlist_track_CSV.csv',
 'playlist_track_CSV.txt',
 'playlist_track_formatted.json',
 'playlist_track_TSV.txt',
 'sqlite_sequence.json',
 'sqlite_sequence_CSV.csv',
 'sqlite_sequence_CSV.txt',
 'sqlite_sequence_formatted.json',
 'sqlite_sequence_TSV.txt',
 'sqlite_stat1.json',
 'sqlite_stat1_CSV.csv',
 'sqlite_stat1_CSV.txt',
 'sqlite_stat1_formatted.json',
 'sqlite_stat1_TSV.txt',
 'tracks.json',
 'tracks_CSV.csv',
 'tracks_CSV.txt',
 'tracks_formatted.json',
 'tracks_TSV.txt']