# <center> <h1>Assignment 4</h1> </center>
<center> <h1>EIN 4933/6935 Python for Data Science Summer 2020</h1> </center>

## Questions:
*Return a Jupyter Notebook and a zipped folder for all files that you create. Do not include the database file.*<br/>
1) Click the link below and download the SQLite database named "chinook.db".<br/>
Link: https://sites.google.com/site/yasinunlu/home/research/new1/chinook.db<br/>
2) You can browse the given database file using an online database browser. Here is an example link: https://sqliteonline.com/. How many tables are there in the database?<br/>
3) Establish a connection using Python code below.<br/>
4) Choose and read 3 different tables in the database as Pandas dataframe. In the code below, you see a table named "tracks" stored into Pandas dataframe named "df_tracks".<br/>
5) Store each dataframe file as a CSV file in .csv and .txt extensions and a TSV file in .txt extension. For example, df_tracks dataframe should be stored under a name "tracks_CSV.csv", "tracks_CSV.txt" and "tracks_TSV.txt".<br/>
6) Store each dataframe file as a .json file by using `to_json()` in Pandas. For example, df_tracks dataframe should be stored under a name "tracks.json". Please note these files must be in JSON files.<br/>
7) Read each .json file as a single string by using `read()` function in Python.<br/>
8) You must notice this is not in a nice format (i.e. no indentation). Create a JSON object by using `json.loads()`.<br/> 
9) Convert the JSON object into an indented format by using `json.dumps()` function.<br/>
10) Write the formatted data into a file with .json extension. Use `write()` function. For example, the JSON formatted data of df_tracks dataframe should be stored under a name "tracks_formatted.json".

## Bonus Questions:
*Return only a Jupyter Notebook.*<br/>
11) Report the names and the total number of tables in the database by using Python code.<br/>
12) Create  _CSV.csv, _CSV.txt, _TSV.txt and formatted .json files in an automated fashion using Python code.<br/>

### 1. Download the SQLite database named "chinook.db".  
  Link: https://sites.google.com/site/yasinunlu/home/research/new1/chinook.db
### 2. How many tables are there in the database?

*Answer:* There are 13 tables in the database including:

1. albums
2. employees
3. invoices
4. playlists
5. artists
6. genres
7. media_types
8. tracks
9. customers
10. invoice_items
11. playlist_track
12. sqlite_sequence
13. sqlite_stat1

### 3. Establish a connection using Python code below.

In [2]:
import pandas as pd
import sqlite3

In [6]:
# %pwd

In [5]:
conn = sqlite3.connect("..\\data\\chinook.db")
conn

### 4) Choose and read 3 different tables in the database as Pandas dataframe. 
In the code below, you see a table named "tracks" stored into Pandas dataframe named "df_tracks".

In [9]:
# example
df_tracks = pd.read_sql_query("SELECT * FROM tracks;", conn) 
# df_tracks.head()

In [15]:
df_employees = pd.read_sql_query("SELECT * FROM employees;", conn)
df_employees.head()

,EmployeeId,LastName,FirstName,Title,ReportsTo,BirthDate,HireDate,Address,City,State,Country,PostalCode,Phone,Fax,Email
0,1,Adams,Andrew,General Manager,NaN,1962-02-18 00:00:00,2002-08-14 00:00:00,11120 Jasper Ave NW,Edmonton,AB,Canada,T5K 2N1,+1 (780) 428-9482,+1 (780) 428-3457,andrew@chinookcorp.com
1,2,Edwards,Nancy,Sales Manager,1.0,1958-12-08 00:00:00,2002-05-01 00:00:00,825 8 Ave SW,Calgary,AB,Canada,T2P 2T3,+1 (403) 262-3443,+1 (403) 262-3322,nancy@chinookcorp.com
2,3,Peacock,Jane,Sales Support Agent,2.0,1973-08-29 00:00:00,2002-04-01 00:00:00,1111 6 Ave SW,Calgary,AB,Canada,T2P 5M5,+1 (403) 262-3443,+1 (403) 262-6712,jane@chinookcorp.com
3,4,Park,Margaret,Sales Support Agent,2.0,1947-09-19 00:00:00,2003-05-03 00:00:00,683 10 Street SW,Calgary,AB,Canada,T2P 5G3,+1 (403) 263-4423,+1 (403) 263-4289,margaret@chinookcorp.com
4,5,Johnson,Steve,Sales Support Agent,2.0,1965-03-03 00:00:00,2003-10-17 00:00:00,7727B 41 Ave,Calgary,AB,Canada,T3B 1Y7,1 (780) 836-9987,1 (780) 836-9543,steve@chinookcorp.com

In [11]:
df_customers = pd.read_sql_query("SELECT * FROM customers;", conn)
df_customers.head()

,CustomerId,FirstName,LastName,Company,Address,City,State,Country,PostalCode,Phone,Fax,Email,SupportRepId
0,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br,3
1,2,Leonie,Köhler,None,Theodor-Heuss-Straße 34,Stuttgart,None,Germany,70174,+49 0711 2842222,None,leonekohler@surfeu.de,5
2,3,François,Tremblay,None,1498 rue Bélanger,Montréal,QC,Canada,H2G 1A7,+1 (514) 721-4711,None,ftremblay@gmail.com,3
3,4,Bjørn,Hansen,None,Ullevålsveien 14,Oslo,None,Norway,0171,+47 22 44 22 22,None,bjorn.hansen@yahoo.no,4
4,5,František,Wichterlová,JetBrains s.r.o.,Klanova 9/506,Prague,None,Czech Republic,14700,+420 2 4172 5555,+420 2 4172 5555,frantisekw@jetbrains.com,4

In [12]:
df_artists = pd.read_sql_query("SELECT * FROM artists;", conn)
df_artists.head()

   ArtistId               Name
0         1              AC/DC
1         2             Accept
2         3          Aerosmith
3         4  Alanis Morissette
4         5    Alice In Chains

In [46]:
conn.close()

### 5. Store each dataframe file as:
* a CSV file in .csv and .txt extensions and 
* a TSV file in .txt extension. 

For example, df_tracks dataframe should be stored under a name "tracks_CSV.csv", "tracks_CSV.txt" and "tracks_TSV.txt".

In [17]:
df_employees.to_csv("Assignment4_files\\employees_CSV.csv", index = False)
df_employees.to_csv("Assignment4_files\\employees_CSV.txt", index = False)
df_employees.to_csv("Assignment4_files\\employees_TSV.txt", sep = "\t", index = False)

In [18]:
df_customers.to_csv("Assignment4_files\\customers_CSV.csv", index = False)
df_customers.to_csv("Assignment4_files\\customers_CSV.txt", index = False)
df_customers.to_csv("Assignment4_files\\customers_TSV.txt", sep = "\t", index = False)

In [19]:
df_artists.to_csv("Assignment4_files\\artists_CSV.csv", index = False)
df_artists.to_csv("Assignment4_files\\artists_CSV.txt", index = False)
df_artists.to_csv("Assignment4_files\\artists_TSV.txt", sep = "\t", index = False)

### 6. Store each dataframe file as a .json file by using to_json() in Pandas. 
For example, df_tracks dataframe should be stored under a name "tracks.json". Please note these files must be in JSON files.

In [20]:
df_employees.to_json("Assignment4_files\\employees.json")
df_customers.to_json("Assignment4_files\\customers.json")
df_artists.to_json("Assignment4_files\\artists.json")

### 7. Read each `.json` file as a single string by using `read()` function in Python.

In [21]:
with open("Assignment4_files\\employees.json", "r") as json_file1:
    employees_json_data = json_file1.read()
    
with open("Assignment4_files\\customers.json", "r") as json_file2:
    customers_json_data = json_file2.read()

with open("Assignment4_files\\artists.json", "r") as json_file3:
    artists_json_data = json_file3.read()

print(json_file1.closed, json_file2.closed, json_file3.closed)
print(type(employees_json_data), type(customers_json_data), type(artists_json_data))
employees_json_data

True True True
<class 'str'> <class 'str'> <class 'str'>

'{"EmployeeId":{"0":1,"1":2,"2":3,"3":4,"4":5,"5":6,"6":7,"7":8},"LastName":{"0":"Adams","1":"Edwards","2":"Peacock","3":"Park","4":"Johnson","5":"Mitchell","6":"King","7":"Callahan"},"FirstName":{"0":"Andrew","1":"Nancy","2":"Jane","3":"Margaret","4":"Steve","5":"Michael","6":"Robert","7":"Laura"},"Title":{"0":"General Manager","1":"Sales Manager","2":"Sales Support Agent","3":"Sales Support Agent","4":"Sales Support Agent","5":"IT Manager","6":"IT Staff","7":"IT Staff"},"ReportsTo":{"0":null,"1":1.0,"2":2.0,"3":2.0,"4":2.0,"5":1.0,"6":6.0,"7":6.0},"BirthDate":{"0":"1962-02-18 00:00:00","1":"1958-12-08 00:00:00","2":"1973-08-29 00:00:00","3":"1947-09-19 00:00:00","4":"1965-03-03 00:00:00","5":"1973-07-01 00:00:00","6":"1970-05-29 00:00:00","7":"1968-01-09 00:00:00"},"HireDate":{"0":"2002-08-14 00:00:00","1":"2002-05-01 00:00:00","2":"2002-04-01 00:00:00","3":"2003-05-03 00:00:00","4":"2003-10-17 00:00:00","5":"2003-10-17 00:00:00","6":"2004-01-02 00:00:00","7":"2004-03-04 00:00:00"},"Address":{"0":"11120 Jasper Ave NW","1":"825 8 Ave SW","2":"1111 6 Ave SW","3":"683 10 Street SW","4":"7727B 41 Ave","5":"5827 Bowness Road NW","6":"590 Columbia Boulevard West","7":"923 7 ST NW"},"City":{"0":"Edmonton","1":"Calgary","2":"Calgary","3":"Calgary","4":"Calgary","5":"Calgary","6":"Lethbridge","7":"Lethbridge"},"State":{"0":"AB","1":"AB","2":"AB","3":"AB","4":"AB","5":"AB","6":"AB","7":"AB"},"Country":{"0":"Canada","1":"Canada","2":"Canada","3":"Canada","4":"Canada","5":"Canada","6":"Canada","7":"Canada"},"PostalCode":{"0":"T5K 2N1","1":"T2P 2T3","2":"T2P 5M5","3":"T2P 5G3","4":"T3B 1Y7","5":"T3B 0C5","6":"T1K 5N8","7":"T1H 1Y8"},"Phone":{"0":"+1 (780) 428-9482","1":"+1 (403) 262-3443","2":"+1 (403) 262-3443","3":"+1 (403) 263-4423","4":"1 (780) 836-9987","5":"+1 (403) 246-9887","6":"+1 (403) 456-9986","7":"+1 (403) 467-3351"},"Fax":{"0":"+1 (780) 428-3457","1":"+1 (403) 262-3322","2":"+1 (403) 262-6712","3":"+1 (403) 263-4289","4":"1 (780) 836-9543","5":"+1 (403) 246-9899","6":"+1 (403) 456-8485","7":"+1 (403) 467-8772"},"Email":{"0":"andrew@chinookcorp.com","1":"nancy@chinookcorp.com","2":"jane@chinookcorp.com","3":"margaret@chinookcorp.com","4":"steve@chinookcorp.com","5":"michael@chinookcorp.com","6":"robert@chinookcorp.com","7":"laura@chinookcorp.com"}}'

### 8. Create a JSON object by using json.loads().  
You must notice this is not in a nice format (i.e. no indentation).

In [36]:
import json as JSON
employees_json_object = JSON.loads(employees_json_data)
print(employees_json_object)

{'EmployeeId': {'0': 1, '1': 2, '2': 3, '3': 4, '4': 5, '5': 6, '6': 7, '7': 8}, 'LastName': {'0': 'Adams', '1': 'Edwards', '2': 'Peacock', '3': 'Park', '4': 'Johnson', '5': 'Mitchell', '6': 'King', '7': 'Callahan'}, 'FirstName': {'0': 'Andrew', '1': 'Nancy', '2': 'Jane', '3': 'Margaret', '4': 'Steve', '5': 'Michael', '6': 'Robert', '7': 'Laura'}, 'Title': {'0': 'General Manager', '1': 'Sales Manager', '2': 'Sales Support Agent', '3': 'Sales Support Agent', '4': 'Sales Support Agent', '5': 'IT Manager', '6': 'IT Staff', '7': 'IT Staff'}, 'ReportsTo': {'0': None, '1': 1.0, '2': 2.0, '3': 2.0, '4': 2.0, '5': 1.0, '6': 6.0, '7': 6.0}, 'BirthDate': {'0': '1962-02-18 00:00:00', '1': '1958-12-08 00:00:00', '2': '1973-08-29 00:00:00', '3': '1947-09-19 00:00:00', '4': '1965-03-03 00:00:00', '5': '1973-07-01 00:00:00', '6': '1970-05-29 00:00:00', '7': '1968-01-09 00:00:00'}, 'HireDate': {'0': '2002-08-14 00:00:00', '1': '2002-05-01 00:00:00', '2': '2002-04-01 00:00:00', '3': '2003-05-03 00:00:00', '4': '2003-10-17 00:00:00', '5': '2003-10-17 00:00:00', '6': '2004-01-02 00:00:00', '7': '2004-03-04 00:00:00'}, 'Address': {'0': '11120 Jasper Ave NW', '1': '825 8 Ave SW', '2': '1111 6 Ave SW', '3': '683 10 Street SW', '4': '7727B 41 Ave', '5': '5827 Bowness Road NW', '6': '590 Columbia Boulevard West', '7': '923 7 ST NW'}, 'City': {'0': 'Edmonton', '1': 'Calgary', '2': 'Calgary', '3': 'Calgary', '4': 'Calgary', '5': 'Calgary', '6': 'Lethbridge', '7': 'Lethbridge'}, 'State': {'0': 'AB', '1': 'AB', '2': 'AB', '3': 'AB', '4': 'AB', '5': 'AB', '6': 'AB', '7': 'AB'}, 'Country': {'0': 'Canada', '1': 'Canada', '2': 'Canada', '3': 'Canada', '4': 'Canada', '5': 'Canada', '6': 'Canada', '7': 'Canada'}, 'PostalCode': {'0': 'T5K 2N1', '1': 'T2P 2T3', '2': 'T2P 5M5', '3': 'T2P 5G3', '4': 'T3B 1Y7', '5': 'T3B 0C5', '6': 'T1K 5N8', '7': 'T1H 1Y8'}, 'Phone': {'0': '+1 (780) 428-9482', '1': '+1 (403) 262-3443', '2': '+1 (403) 262-3443', '3': '+1 (403) 263-4423', '4': '1 (780) 836-9987', '5': '+1 (403) 246-9887', '6': '+1 (403) 456-9986', '7': '+1 (403) 467-3351'}, 'Fax': {'0': '+1 (780) 428-3457', '1': '+1 (403) 262-3322', '2': '+1 (403) 262-6712', '3': '+1 (403) 263-4289', '4': '1 (780) 836-9543', '5': '+1 (403) 246-9899', '6': '+1 (403) 456-8485', '7': '+1 (403) 467-8772'}, 'Email': {'0': 'andrew@chinookcorp.com', '1': 'nancy@chinookcorp.com', '2': 'jane@chinookcorp.com', '3': 'margaret@chinookcorp.com', '4': 'steve@chinookcorp.com', '5': 'michael@chinookcorp.com', '6': 'robert@chinookcorp.com', '7': 'laura@chinookcorp.com'}}

In [37]:
customers_json_object = JSON.loads(customers_json_data)
print(customers_json_object)

{'CustomerId': {'0': 1, '1': 2, '2': 3, '3': 4, '4': 5, '5': 6, '6': 7, '7': 8, '8': 9, '9': 10, '10': 11, '11': 12, '12': 13, '13': 14, '14': 15, '15': 16, '16': 17, '17': 18, '18': 19, '19': 20, '20': 21, '21': 22, '22': 23, '23': 24, '24': 25, '25': 26, '26': 27, '27': 28, '28': 29, '29': 30, '30': 31, '31': 32, '32': 33, '33': 34, '34': 35, '35': 36, '36': 37, '37': 38, '38': 39, '39': 40, '40': 41, '41': 42, '42': 43, '43': 44, '44': 45, '45': 46, '46': 47, '47': 48, '48': 49, '49': 50, '50': 51, '51': 52, '52': 53, '53': 54, '54': 55, '55': 56, '56': 57, '57': 58, '58': 59}, 'FirstName': {'0': 'Luís', '1': 'Leonie', '2': 'François', '3': 'Bjørn', '4': 'František', '5': 'Helena', '6': 'Astrid', '7': 'Daan', '8': 'Kara', '9': 'Eduardo', '10': 'Alexandre', '11': 'Roberto', '12': 'Fernanda', '13': 'Mark', '14': 'Jennifer', '15': 'Frank', '16': 'Jack', '17': 'Michelle', '18': 'Tim', '19': 'Dan', '20': 'Kathy', '21': 'Heather', '22': 'John', '23': 'Frank', '24': 'Victor', '25': 'Richard', '26': 'Patrick', '27': 'Julia', '28': 'Robert', '29': 'Edward', '30': 'Martha', '31': 'Aaron', '32': 'Ellie', '33': 'João', '34': 'Madalena', '35': 'Hannah', '36': 'Fynn', '37': 'Niklas', '38': 'Camille', '39': 'Dominique', '40': 'Marc', '41': 'Wyatt', '42': 'Isabelle', '43': 'Terhi', '44': 'Ladislav', '45': 'Hugh', '46': 'Lucas', '47': 'Johannes', '48': 'Stanisław', '49': 'Enrique', '50': 'Joakim', '51': 'Emma', '52': 'Phil', '53': 'Steve', '54': 'Mark', '55': 'Diego', '56': 'Luis', '57': 'Manoj', '58': 'Puja'}, 'LastName': {'0': 'Gonçalves', '1': 'Köhler', '2': 'Tremblay', '3': 'Hansen', '4': 'Wichterlová', '5': 'Holý', '6': 'Gruber', '7': 'Peeters', '8': 'Nielsen', '9': 'Martins', '10': 'Rocha', '11': 'Almeida', '12': 'Ramos', '13': 'Philips', '14': 'Peterson', '15': 'Harris', '16': 'Smith', '17': 'Brooks', '18': 'Goyer', '19': 'Miller', '20': 'Chase', '21': 'Leacock', '22': 'Gordon', '23': 'Ralston', '24': 'Stevens', '25': 'Cunningham', '26': 'Gray', '27': 'Barnett', '28': 'Brown', '29': 'Francis', '30': 'Silk', '31': 'Mitchell', '32': 'Sullivan', '33': 'Fernandes', '34': 'Sampaio', '35': 'Schneider', '36': 'Zimmermann', '37': 'Schröder', '38': 'Bernard', '39': 'Lefebvre', '40': 'Dubois', '41': 'Girard', '42': 'Mercier', '43': 'Hämäläinen', '44': 'Kovács', '45': "O'Reilly", '46': 'Mancini', '47': 'Van der Berg', '48': 'Wójcik', '49': 'Muñoz', '50': 'Johansson', '51': 'Jones', '52': 'Hughes', '53': 'Murray', '54': 'Taylor', '55': 'Gutiérrez', '56': 'Rojas', '57': 'Pareek', '58': 'Srivastava'}, 'Company': {'0': 'Embraer - Empresa Brasileira de Aeronáutica S.A.', '1': None, '2': None, '3': None, '4': 'JetBrains s.r.o.', '5': None, '6': None, '7': None, '8': None, '9': 'Woodstock Discos', '10': 'Banco do Brasil S.A.', '11': 'Riotur', '12': None, '13': 'Telus', '14': 'Rogers Canada', '15': 'Google Inc.', '16': 'Microsoft Corporation', '17': None, '18': 'Apple Inc.', '19': None, '20': None, '21': None, '22': None, '23': None, '24': None, '25': None, '26': None, '27': None, '28': None, '29': None, '30': None, '31': None, '32': None, '33': None, '34': None, '35': None, '36': None, '37': None, '38': None, '39': None, '40': None, '41': None, '42': None, '43': None, '44': None, '45': None, '46': None, '47': None, '48': None, '49': None, '50': None, '51': None, '52': None, '53': None, '54': None, '55': None, '56': None, '57': None, '58': None}, 'Address': {'0': 'Av. Brigadeiro Faria Lima, 2170', '1': 'Theodor-Heuss-Straße 34', '2': '1498 rue Bélanger', '3': 'Ullevålsveien 14', '4': 'Klanova 9/506', '5': 'Rilská 3174/6', '6': 'Rotenturmstraße 4, 1010 Innere Stadt', '7': 'Grétrystraat 63', '8': 'Sønder Boulevard 51', '9': 'Rua Dr. Falcão Filho, 155', '10': 'Av. Paulista, 2022', '11': 'Praça Pio X, 119', '12': 'Qe 7 Bloco G', '13': '8210 111 ST NW', '14': '700 W Pender Street', '15': '1600 Amphitheatre Parkway', '16': '1 Microsoft Way', '17': '627 Broadway', '18': '1 Infinite Loop', '19': '541 Del Medio Avenue', '20': '801 W 4th Street', '21': '120 S Orange Ave', '22': '69 Salem Street', '23': '162 E Superior Street', '24': '319 N. Frances Street', '25': '2211 W Berry Street', '26': '1033 N Park Ave', '27': '302 S 700 E', '28': '796 Dundas Street West', '29': '230 Elgin Street', '30': '194A Chain Lake Drive', '31': '696 Osborne Street', '32': '5112 48 Street', '33': 'Rua da Assunção 53', '34': 'Rua dos Campeões Europeus de Viena, 4350', '35': 'Tauentzienstraße 8', '36': 'Berger Straße 10', '37': 'Barbarossastraße 19', '38': '4, Rue Milton', '39': '8, Rue Hanovre', '40': '11, Place Bellecour', '41': '9, Place Louis Barthou', '42': '68, Rue Jouvence', '43': 'Porthaninkatu 9', '44': 'Erzsébet krt. 58.', '45': '3 Chatham Street', '46': 'Via Degli Scipioni, 43', '47': 'Lijnbaansgracht 120bg', '48': 'Ordynacka 10', '49': 'C/ San Bernardo 85', '50': 'Celsiusg. 9', '51': '202 Hoxton Street', '52': '113 Lupus St', '53': '110 Raeburn Pl', '54': '421 Bourke Street', '55': '307 Macacha Güemes', '56': 'Calle Lira, 198', '57': '12,Community Centre', '58': '3,Raj Bhavan Road'}, 'City': {'0': 'São José dos Campos', '1': 'Stuttgart', '2': 'Montréal', '3': 'Oslo', '4': 'Prague', '5': 'Prague', '6': 'Vienne', '7': 'Brussels', '8': 'Copenhagen', '9': 'São Paulo', '10': 'São Paulo', '11': 'Rio de Janeiro', '12': 'Brasília', '13': 'Edmonton', '14': 'Vancouver', '15': 'Mountain View', '16': 'Redmond', '17': 'New York', '18': 'Cupertino', '19': 'Mountain View', '20': 'Reno', '21': 'Orlando', '22': 'Boston', '23': 'Chicago', '24': 'Madison', '25': 'Fort Worth', '26': 'Tucson', '27': 'Salt Lake City', '28': 'Toronto', '29': 'Ottawa', '30': 'Halifax', '31': 'Winnipeg', '32': 'Yellowknife', '33': 'Lisbon', '34': 'Porto', '35': 'Berlin', '36': 'Frankfurt', '37': 'Berlin', '38': 'Paris', '39': 'Paris', '40': 'Lyon', '41': 'Bordeaux', '42': 'Dijon', '43': 'Helsinki', '44': 'Budapest', '45': 'Dublin', '46': 'Rome', '47': 'Amsterdam', '48': 'Warsaw', '49': 'Madrid', '50': 'Stockholm', '51': 'London', '52': 'London', '53': 'Edinburgh ', '54': 'Sidney', '55': 'Buenos Aires', '56': 'Santiago', '57': 'Delhi', '58': 'Bangalore'}, 'State': {'0': 'SP', '1': None, '2': 'QC', '3': None, '4': None, '5': None, '6': None, '7': None, '8': None, '9': 'SP', '10': 'SP', '11': 'RJ', '12': 'DF', '13': 'AB', '14': 'BC', '15': 'CA', '16': 'WA', '17': 'NY', '18': 'CA', '19': 'CA', '20': 'NV', '21': 'FL', '22': 'MA', '23': 'IL', '24': 'WI', '25': 'TX', '26': 'AZ', '27': 'UT', '28': 'ON', '29': 'ON', '30': 'NS', '31': 'MB', '32': 'NT', '33': None, '34': None, '35': None, '36': None, '37': None, '38': None, '39': None, '40': None, '41': None, '42': None, '43': None, '44': None, '45': 'Dublin', '46': 'RM', '47': 'VV', '48': None, '49': None, '50': None, '51': None, '52': None, '53': None, '54': 'NSW', '55': None, '56': None, '57': None, '58': None}, 'Country': {'0': 'Brazil', '1': 'Germany', '2': 'Canada', '3': 'Norway', '4': 'Czech Republic', '5': 'Czech Republic', '6': 'Austria', '7': 'Belgium', '8': 'Denmark', '9': 'Brazil', '10': 'Brazil', '11': 'Brazil', '12': 'Brazil', '13': 'Canada', '14': 'Canada', '15': 'USA', '16': 'USA', '17': 'USA', '18': 'USA', '19': 'USA', '20': 'USA', '21': 'USA', '22': 'USA', '23': 'USA', '24': 'USA', '25': 'USA', '26': 'USA', '27': 'USA', '28': 'Canada', '29': 'Canada', '30': 'Canada', '31': 'Canada', '32': 'Canada', '33': 'Portugal', '34': 'Portugal', '35': 'Germany', '36': 'Germany', '37': 'Germany', '38': 'France', '39': 'France', '40': 'France', '41': 'France', '42': 'France', '43': 'Finland', '44': 'Hungary', '45': 'Ireland', '46': 'Italy', '47': 'Netherlands', '48': 'Poland', '49': 'Spain', '50': 'Sweden', '51': 'United Kingdom', '52': 'United Kingdom', '53': 'United Kingdom', '54': 'Australia', '55': 'Argentina', '56': 'Chile', '57': 'India', '58': 'India'}, 'PostalCode': {'0': '12227-000', '1': '70174', '2': 'H2G 1A7', '3': '0171', '4': '14700', '5': '14300', '6': '1010', '7': '1000', '8': '1720', '9': '01007-010', '10': '01310-200', '11': '20040-020', '12': '71020-677', '13': 'T6G 2C7', '14': 'V6C 1G8', '15': '94043-1351', '16': '98052-8300', '17': '10012-2612', '18': '95014', '19': '94040-111', '20': '89503', '21': '32801', '22': '2113', '23': '60611', '24': '53703', '25': '76110', '26': '85719', '27': '84102', '28': 'M6J 1V1', '29': 'K2P 1L7', '30': 'B3S 1C5', '31': 'R3L 2B9', '32': 'X1A 1N6', '33': None, '34': None, '35': '10789', '36': '60316', '37': '10779', '38': '75009', '39': '75002', '40': '69002', '41': '33000', '42': '21000', '43': '00530', '44': 'H-1073', '45': None, '46': '00192', '47': '1016', '48': '00-358', '49': '28015', '50': '11230', '51': 'N1 5LH', '52': 'SW1V 3EN', '53': 'EH4 1HH', '54': '2010', '55': '1106', '56': None, '57': '110017', '58': '560001'}, 'Phone': {'0': '+55 (12) 3923-5555', '1': '+49 0711 2842222', '2': '+1 (514) 721-4711', '3': '+47 22 44 22 22', '4': '+420 2 4172 5555', '5': '+420 2 4177 0449', '6': '+43 01 5134505', '7': '+32 02 219 03 03', '8': '+453 3331 9991', '9': '+55 (11) 3033-5446', '10': '+55 (11) 3055-3278', '11': '+55 (21) 2271-7000', '12': '+55 (61) 3363-5547', '13': '+1 (780) 434-4554', '14': '+1 (604) 688-2255', '15': '+1 (650) 253-0000', '16': '+1 (425) 882-8080', '17': '+1 (212) 221-3546', '18': '+1 (408) 996-1010', '19': '+1 (650) 644-3358', '20': '+1 (775) 223-7665', '21': '+1 (407) 999-7788', '22': '+1 (617) 522-1333', '23': '+1 (312) 332-3232', '24': '+1 (608) 257-0597', '25': '+1 (817) 924-7272', '26': '+1 (520) 622-4200', '27': '+1 (801) 531-7272', '28': '+1 (416) 363-8888', '29': '+1 (613) 234-3322', '30': '+1 (902) 450-0450', '31': '+1 (204) 452-6452', '32': '+1 (867) 920-2233', '33': '+351 (213) 466-111', '34': '+351 (225) 022-448', '35': '+49 030 26550280', '36': '+49 069 40598889', '37': '+49 030 2141444', '38': '+33 01 49 70 65 65', '39': '+33 01 47 42 71 71', '40': '+33 04 78 30 30 30', '41': '+33 05 56 96 96 96', '42': '+33 03 80 73 66 99', '43': '+358 09 870 2000', '44': None, '45': '+353 01 6792424', '46': '+39 06 39733434', '47': '+31 020 6223130', '48': '+48 22 828 37 39', '49': '+34 914 454 454', '50': '+46 08-651 52 52', '51': '+44 020 7707 0707', '52': '+44 020 7976 5722', '53': '+44 0131 315 3300', '54': '+61 (02) 9332 3633', '55': '+54 (0)11 4311 4333', '56': '+56 (0)2 635 4444', '57': '+91 0124 39883988', '58': '+91 080 22289999'}, 'Fax': {'0': '+55 (12) 3923-5566', '1': None, '2': None, '3': None, '4': '+420 2 4172 5555', '5': None, '6': None, '7': None, '8': None, '9': '+55 (11) 3033-4564', '10': '+55 (11) 3055-8131', '11': '+55 (21) 2271-7070', '12': '+55 (61) 3363-7855', '13': '+1 (780) 434-5565', '14': '+1 (604) 688-8756', '15': '+1 (650) 253-0000', '16': '+1 (425) 882-8081', '17': '+1 (212) 221-4679', '18': '+1 (408) 996-1011', '19': None, '20': None, '21': None, '22': None, '23': None, '24': None, '25': None, '26': None, '27': None, '28': None, '29': None, '30': None, '31': None, '32': None, '33': None, '34': None, '35': None, '36': None, '37': None, '38': None, '39': None, '40': None, '41': None, '42': None, '43': None, '44': None, '45': None, '46': None, '47': None, '48': None, '49': None, '50': None, '51': None, '52': None, '53': None, '54': None, '55': None, '56': None, '57': None, '58': None}, 'Email': {'0': 'luisg@embraer.com.br', '1': 'leonekohler@surfeu.de', '2': 'ftremblay@gmail.com', '3': 'bjorn.hansen@yahoo.no', '4': 'frantisekw@jetbrains.com', '5': 'hholy@gmail.com', '6': 'astrid.gruber@apple.at', '7': 'daan_peeters@apple.be', '8': 'kara.nielsen@jubii.dk', '9': 'eduardo@woodstock.com.br', '10': 'alero@uol.com.br', '11': 'roberto.almeida@riotur.gov.br', '12': 'fernadaramos4@uol.com.br', '13': 'mphilips12@shaw.ca', '14': 'jenniferp@rogers.ca', '15': 'fharris@google.com', '16': 'jacksmith@microsoft.com', '17': 'michelleb@aol.com', '18': 'tgoyer@apple.com', '19': 'dmiller@comcast.com', '20': 'kachase@hotmail.com', '21': 'hleacock@gmail.com', '22': 'johngordon22@yahoo.com', '23': 'fralston@gmail.com', '24': 'vstevens@yahoo.com', '25': 'ricunningham@hotmail.com', '26': 'patrick.gray@aol.com', '27': 'jubarnett@gmail.com', '28': 'robbrown@shaw.ca', '29': 'edfrancis@yachoo.ca', '30': 'marthasilk@gmail.com', '31': 'aaronmitchell@yahoo.ca', '32': 'ellie.sullivan@shaw.ca', '33': 'jfernandes@yahoo.pt', '34': 'masampaio@sapo.pt', '35': 'hannah.schneider@yahoo.de', '36': 'fzimmermann@yahoo.de', '37': 'nschroder@surfeu.de', '38': 'camille.bernard@yahoo.fr', '39': 'dominiquelefebvre@gmail.com', '40': 'marc.dubois@hotmail.com', '41': 'wyatt.girard@yahoo.fr', '42': 'isabelle_mercier@apple.fr', '43': 'terhi.hamalainen@apple.fi', '44': 'ladislav_kovacs@apple.hu', '45': 'hughoreilly@apple.ie', '46': 'lucas.mancini@yahoo.it', '47': 'johavanderberg@yahoo.nl', '48': 'stanisław.wójcik@wp.pl', '49': 'enrique_munoz@yahoo.es', '50': 'joakim.johansson@yahoo.se', '51': 'emma_jones@hotmail.com', '52': 'phil.hughes@gmail.com', '53': 'steve.murray@yahoo.uk', '54': 'mark.taylor@yahoo.au', '55': 'diego.gutierrez@yahoo.ar', '56': 'luisrojas@yahoo.cl', '57': 'manoj.pareek@rediff.com', '58': 'puja_srivastava@yahoo.in'}, 'SupportRepId': {'0': 3, '1': 5, '2': 3, '3': 4, '4': 4, '5': 5, '6': 5, '7': 4, '8': 4, '9': 4, '10': 5, '11': 3, '12': 4, '13': 5, '14': 3, '15': 4, '16': 5, '17': 3, '18': 3, '19': 4, '20': 5, '21': 4, '22': 4, '23': 3, '24': 5, '25': 4, '26': 4, '27': 5, '28': 3, '29': 3, '30': 5, '31': 4, '32': 3, '33': 4, '34': 4, '35': 5, '36': 3, '37': 3, '38': 4, '39': 4, '40': 5, '41': 3, '42': 3, '43': 3, '44': 3, '45': 3, '46': 5, '47': 5, '48': 4, '49': 5, '50': 5, '51': 3, '52': 3, '53': 5, '54': 4, '55': 4, '56': 5, '57': 3, '58': 3}}

In [38]:
artists_json_object = JSON.loads(artists_json_data)
print(artists_json_object)

{'ArtistId': {'0': 1, '1': 2, '2': 3, '3': 4, '4': 5, '5': 6, '6': 7, '7': 8, '8': 9, '9': 10, '10': 11, '11': 12, '12': 13, '13': 14, '14': 15, '15': 16, '16': 17, '17': 18, '18': 19, '19': 20, '20': 21, '21': 22, '22': 23, '23': 24, '24': 25, '25': 26, '26': 27, '27': 28, '28': 29, '29': 30, '30': 31, '31': 32, '32': 33, '33': 34, '34': 35, '35': 36, '36': 37, '37': 38, '38': 39, '39': 40, '40': 41, '41': 42, '42': 43, '43': 44, '44': 45, '45': 46, '46': 47, '47': 48, '48': 49, '49': 50, '50': 51, '51': 52, '52': 53, '53': 54, '54': 55, '55': 56, '56': 57, '57': 58, '58': 59, '59': 60, '60': 61, '61': 62, '62': 63, '63': 64, '64': 65, '65': 66, '66': 67, '67': 68, '68': 69, '69': 70, '70': 71, '71': 72, '72': 73, '73': 74, '74': 75, '75': 76, '76': 77, '77': 78, '78': 79, '79': 80, '80': 81, '81': 82, '82': 83, '83': 84, '84': 85, '85': 86, '86': 87, '87': 88, '88': 89, '89': 90, '90': 91, '91': 92, '92': 93, '93': 94, '94': 95, '95': 96, '96': 97, '97': 98, '98': 99, '99': 100, '100': 101, '101': 102, '102': 103, '103': 104, '104': 105, '105': 106, '106': 107, '107': 108, '108': 109, '109': 110, '110': 111, '111': 112, '112': 113, '113': 114, '114': 115, '115': 116, '116': 117, '117': 118, '118': 119, '119': 120, '120': 121, '121': 122, '122': 123, '123': 124, '124': 125, '125': 126, '126': 127, '127': 128, '128': 129, '129': 130, '130': 131, '131': 132, '132': 133, '133': 134, '134': 135, '135': 136, '136': 137, '137': 138, '138': 139, '139': 140, '140': 141, '141': 142, '142': 143, '143': 144, '144': 145, '145': 146, '146': 147, '147': 148, '148': 149, '149': 150, '150': 151, '151': 152, '152': 153, '153': 154, '154': 155, '155': 156, '156': 157, '157': 158, '158': 159, '159': 160, '160': 161, '161': 162, '162': 163, '163': 164, '164': 165, '165': 166, '166': 167, '167': 168, '168': 169, '169': 170, '170': 171, '171': 172, '172': 173, '173': 174, '174': 175, '175': 176, '176': 177, '177': 178, '178': 179, '179': 180, '180': 181, '181': 182, '182': 183, '183': 184, '184': 185, '185': 186, '186': 187, '187': 188, '188': 189, '189': 190, '190': 191, '191': 192, '192': 193, '193': 194, '194': 195, '195': 196, '196': 197, '197': 198, '198': 199, '199': 200, '200': 201, '201': 202, '202': 203, '203': 204, '204': 205, '205': 206, '206': 207, '207': 208, '208': 209, '209': 210, '210': 211, '211': 212, '212': 213, '213': 214, '214': 215, '215': 216, '216': 217, '217': 218, '218': 219, '219': 220, '220': 221, '221': 222, '222': 223, '223': 224, '224': 225, '225': 226, '226': 227, '227': 228, '228': 229, '229': 230, '230': 231, '231': 232, '232': 233, '233': 234, '234': 235, '235': 236, '236': 237, '237': 238, '238': 239, '239': 240, '240': 241, '241': 242, '242': 243, '243': 244, '244': 245, '245': 246, '246': 247, '247': 248, '248': 249, '249': 250, '250': 251, '251': 252, '252': 253, '253': 254, '254': 255, '255': 256, '256': 257, '257': 258, '258': 259, '259': 260, '260': 261, '261': 262, '262': 263, '263': 264, '264': 265, '265': 266, '266': 267, '267': 268, '268': 269, '269': 270, '270': 271, '271': 272, '272': 273, '273': 274, '274': 275}, 'Name': {'0': 'AC/DC', '1': 'Accept', '2': 'Aerosmith', '3': 'Alanis Morissette', '4': 'Alice In Chains', '5': 'Antônio Carlos Jobim', '6': 'Apocalyptica', '7': 'Audioslave', '8': 'BackBeat', '9': 'Billy Cobham', '10': 'Black Label Society', '11': 'Black Sabbath', '12': 'Body Count', '13': 'Bruce Dickinson', '14': 'Buddy Guy', '15': 'Caetano Veloso', '16': 'Chico Buarque', '17': 'Chico Science & Nação Zumbi', '18': 'Cidade Negra', '19': 'Cláudio Zoli', '20': 'Various Artists', '21': 'Led Zeppelin', '22': 'Frank Zappa & Captain Beefheart', '23': 'Marcos Valle', '24': 'Milton Nascimento & Bebeto', '25': 'Azymuth', '26': 'Gilberto Gil', '27': 'João Gilberto', '28': 'Bebel Gilberto', '29': 'Jorge Vercilo', '30': 'Baby Consuelo', '31': 'Ney Matogrosso', '32': 'Luiz Melodia', '33': 'Nando Reis', '34': 'Pedro Luís & A Parede', '35': 'O Rappa', '36': 'Ed Motta', '37': 'Banda Black Rio', '38': 'Fernanda Porto', '39': 'Os Cariocas', '40': 'Elis Regina', '41': 'Milton Nascimento', '42': 'A Cor Do Som', '43': 'Kid Abelha', '44': 'Sandra De Sá', '45': 'Jorge Ben', '46': 'Hermeto Pascoal', '47': 'Barão Vermelho', '48': 'Edson, DJ Marky & DJ Patife Featuring Fernanda Porto', '49': 'Metallica', '50': 'Queen', '51': 'Kiss', '52': 'Spyro Gyra', '53': 'Green Day', '54': 'David Coverdale', '55': 'Gonzaguinha', '56': 'Os Mutantes', '57': 'Deep Purple', '58': 'Santana', '59': 'Santana Feat. Dave Matthews', '60': 'Santana Feat. Everlast', '61': 'Santana Feat. Rob Thomas', '62': 'Santana Feat. Lauryn Hill & Cee-Lo', '63': 'Santana Feat. The Project G&B', '64': 'Santana Feat. Maná', '65': 'Santana Feat. Eagle-Eye Cherry', '66': 'Santana Feat. Eric Clapton', '67': 'Miles Davis', '68': 'Gene Krupa', '69': 'Toquinho & Vinícius', '70': 'Vinícius De Moraes & Baden Powell', '71': 'Vinícius De Moraes', '72': 'Vinícius E Qurteto Em Cy', '73': 'Vinícius E Odette Lara', '74': 'Vinicius, Toquinho & Quarteto Em Cy', '75': 'Creedence Clearwater Revival', '76': 'Cássia Eller', '77': 'Def Leppard', '78': 'Dennis Chambers', '79': 'Djavan', '80': 'Eric Clapton', '81': 'Faith No More', '82': 'Falamansa', '83': 'Foo Fighters', '84': 'Frank Sinatra', '85': 'Funk Como Le Gusta', '86': 'Godsmack', '87': "Guns N' Roses", '88': 'Incognito', '89': 'Iron Maiden', '90': 'James Brown', '91': 'Jamiroquai', '92': 'JET', '93': 'Jimi Hendrix', '94': 'Joe Satriani', '95': 'Jota Quest', '96': 'João Suplicy', '97': 'Judas Priest', '98': 'Legião Urbana', '99': 'Lenny Kravitz', '100': 'Lulu Santos', '101': 'Marillion', '102': 'Marisa Monte', '103': 'Marvin Gaye', '104': 'Men At Work', '105': 'Motörhead', '106': 'Motörhead & Girlschool', '107': 'Mônica Marianno', '108': 'Mötley Crüe', '109': 'Nirvana', '110': 'O Terço', '111': 'Olodum', '112': 'Os Paralamas Do Sucesso', '113': 'Ozzy Osbourne', '114': 'Page & Plant', '115': 'Passengers', '116': "Paul D'Ianno", '117': 'Pearl Jam', '118': 'Peter Tosh', '119': 'Pink Floyd', '120': 'Planet Hemp', '121': 'R.E.M. Feat. Kate Pearson', '122': 'R.E.M. Feat. KRS-One', '123': 'R.E.M.', '124': 'Raimundos', '125': 'Raul Seixas', '126': 'Red Hot Chili Peppers', '127': 'Rush', '128': 'Simply Red', '129': 'Skank', '130': 'Smashing Pumpkins', '131': 'Soundgarden', '132': 'Stevie Ray Vaughan & Double Trouble', '133': 'Stone Temple Pilots', '134': 'System Of A Down', '135': 'Terry Bozzio, Tony Levin & Steve Stevens', '136': 'The Black Crowes', '137': 'The Clash', '138': 'The Cult', '139': 'The Doors', '140': 'The Police', '141': 'The Rolling Stones', '142': 'The Tea Party', '143': 'The Who', '144': 'Tim Maia', '145': 'Titãs', '146': 'Battlestar Galactica', '147': 'Heroes', '148': 'Lost', '149': 'U2', '150': 'UB40', '151': 'Van Halen', '152': 'Velvet Revolver', '153': 'Whitesnake', '154': 'Zeca Pagodinho', '155': 'The Office', '156': 'Dread Zeppelin', '157': 'Battlestar Galactica (Classic)', '158': 'Aquaman', '159': 'Christina Aguilera featuring BigElf', '160': "Aerosmith & Sierra Leone's Refugee Allstars", '161': 'Los Lonely Boys', '162': 'Corinne Bailey Rae', '163': 'Dhani Harrison & Jakob Dylan', '164': 'Jackson Browne', '165': 'Avril Lavigne', '166': 'Big & Rich', '167': "Youssou N'Dour", '168': 'Black Eyed Peas', '169': 'Jack Johnson', '170': 'Ben Harper', '171': 'Snow Patrol', '172': 'Matisyahu', '173': 'The Postal Service', '174': 'Jaguares', '175': 'The Flaming Lips', '176': "Jack's Mannequin & Mick Fleetwood", '177': 'Regina Spektor', '178': 'Scorpions', '179': 'House Of Pain', '180': 'Xis', '181': 'Nega Gizza', '182': 'Gustavo & Andres Veiga & Salazar', '183': 'Rodox', '184': 'Charlie Brown Jr.', '185': 'Pedro Luís E A Parede', '186': 'Los Hermanos', '187': 'Mundo Livre S/A', '188': 'Otto', '189': 'Instituto', '190': 'Nação Zumbi', '191': 'DJ Dolores & Orchestra Santa Massa', '192': 'Seu Jorge', '193': 'Sabotage E Instituto', '194': 'Stereo Maracana', '195': 'Cake', '196': 'Aisha Duo', '197': 'Habib Koité and Bamada', '198': 'Karsh Kale', '199': 'The Posies', '200': 'Luciana Souza/Romero Lubambo', '201': 'Aaron Goldberg', '202': 'Nicolaus Esterhazy Sinfonia', '203': 'Temple of the Dog', '204': 'Chris Cornell', '205': 'Alberto Turco & Nova Schola Gregoriana', '206': 'Richard Marlow & The Choir of Trinity College, Cambridge', '207': 'English Concert & Trevor Pinnock', '208': 'Anne-Sophie Mutter, Herbert Von Karajan & Wiener Philharmoniker', '209': 'Hilary Hahn, Jeffrey Kahane, Los Angeles Chamber Orchestra & Margaret Batjer', '210': 'Wilhelm Kempff', '211': 'Yo-Yo Ma', '212': 'Scholars Baroque Ensemble', '213': 'Academy of St. Martin in the Fields & Sir Neville Marriner', '214': 'Academy of St. Martin in the Fields Chamber Ensemble & Sir Neville Marriner', '215': 'Berliner Philharmoniker, Claudio Abbado & Sabine Meyer', '216': 'Royal Philharmonic Orchestra & Sir Thomas Beecham', '217': 'Orchestre Révolutionnaire et Romantique & John Eliot Gardiner', '218': 'Britten Sinfonia, Ivor Bolton & Lesley Garrett', '219': 'Chicago Symphony Chorus, Chicago Symphony Orchestra & Sir Georg Solti', '220': 'Sir Georg Solti & Wiener Philharmoniker', '221': 'Academy of St. Martin in the Fields, John Birch, Sir Neville Marriner & Sylvia McNair', '222': 'London Symphony Orchestra & Sir Charles Mackerras', '223': 'Barry Wordsworth & BBC Concert Orchestra', '224': 'Herbert Von Karajan, Mirella Freni & Wiener Philharmoniker', '225': 'Eugene Ormandy', '226': 'Luciano Pavarotti', '227': 'Leonard Bernstein & New York Philharmonic', '228': 'Boston Symphony Orchestra & Seiji Ozawa', '229': 'Aaron Copland & London Symphony Orchestra', '230': 'Ton Koopman', '231': 'Sergei Prokofiev & Yuri Temirkanov', '232': 'Chicago Symphony Orchestra & Fritz Reiner', '233': 'Orchestra of The Age of Enlightenment', '234': 'Emanuel Ax, Eugene Ormandy & Philadelphia Orchestra', '235': 'James Levine', '236': 'Berliner Philharmoniker & Hans Rosbaud', '237': 'Maurizio Pollini', '238': 'Academy of St. Martin in the Fields, Sir Neville Marriner & William Bennett', '239': 'Gustav Mahler', '240': 'Felix Schmidt, London Symphony Orchestra & Rafael Frühbeck de Burgos', '241': 'Edo de Waart & San Francisco Symphony', '242': 'Antal Doráti & London Symphony Orchestra', '243': 'Choir Of Westminster Abbey & Simon Preston', '244': 'Michael Tilson Thomas & San Francisco Symphony', '245': 'Chor der Wiener Staatsoper, Herbert Von Karajan & Wiener Philharmoniker', '246': "The King's Singers", '247': 'Berliner Philharmoniker & Herbert Von Karajan', '248': 'Sir Georg Solti, Sumi Jo & Wiener Philharmoniker', '249': "Christopher O'Riley", '250': 'Fretwork', '251': 'Amy Winehouse', '252': 'Calexico', '253': 'Otto Klemperer & Philharmonia Orchestra', '254': 'Yehudi Menuhin', '255': 'Philharmonia Orchestra & Sir Neville Marriner', '256': 'Academy of St. Martin in the Fields, Sir Neville Marriner & Thurston Dart', '257': 'Les Arts Florissants & William Christie', '258': 'The 12 Cellists of The Berlin Philharmonic', '259': 'Adrian Leaper & Doreen de Feis', '260': 'Roger Norrington, London Classical Players', '261': "Charles Dutoit & L'Orchestre Symphonique de Montréal", '262': 'Equale Brass Ensemble, John Eliot Gardiner & Munich Monteverdi Orchestra and Choir', '263': "Kent Nagano and Orchestre de l'Opéra de Lyon", '264': 'Julian Bream', '265': 'Martin Roscoe', '266': 'Göteborgs Symfoniker & Neeme Järvi', '267': 'Itzhak Perlman', '268': 'Michele Campanella', '269': 'Gerald Moore', '270': 'Mela Tenenbaum, Pro Musica Prague & Richard Kapp', '271': 'Emerson String Quartet', '272': 'C. Monteverdi, Nigel Rogers - Chiaroscuro; London Baroque; London Cornett & Sackbu', '273': 'Nash Ensemble', '274': 'Philip Glass Ensemble'}}

### 9. Convert the JSON object into an indented format by using `json.dumps()` function.
This will convert the object inot a nicer, indented format.

In [39]:
employees_json_formatted = JSON.dumps(employees_json_object, indent = 2)
print(employees_json_formatted)

{
  "EmployeeId": {
    "0": 1,
    "1": 2,
    "2": 3,
    "3": 4,
    "4": 5,
    "5": 6,
    "6": 7,
    "7": 8
  },
  "LastName": {
    "0": "Adams",
    "1": "Edwards",
    "2": "Peacock",
    "3": "Park",
    "4": "Johnson",
    "5": "Mitchell",
    "6": "King",
    "7": "Callahan"
  },
  "FirstName": {
    "0": "Andrew",
    "1": "Nancy",
    "2": "Jane",
    "3": "Margaret",
    "4": "Steve",
    "5": "Michael",
    "6": "Robert",
    "7": "Laura"
  },
  "Title": {
    "0": "General Manager",
    "1": "Sales Manager",
    "2": "Sales Support Agent",
    "3": "Sales Support Agent",
    "4": "Sales Support Agent",
    "5": "IT Manager",
    "6": "IT Staff",
    "7": "IT Staff"
  },
  "ReportsTo": {
    "0": null,
    "1": 1.0,
    "2": 2.0,
    "3": 2.0,
    "4": 2.0,
    "5": 1.0,
    "6": 6.0,
    "7": 6.0
  },
  "BirthDate": {
    "0": "1962-02-18 00:00:00",
    "1": "1958-12-08 00:00:00",
    "2": "1973-08-29 00:00:00",
    "3": "1947-09-19 00:00:00",
    "4": "1965-03-03 00:00:00",
    "5": "1973-07-01 00:00:00",
    "6": "1970-05-29 00:00:00",
    "7": "1968-01-09 00:00:00"
  },
  "HireDate": {
    "0": "2002-08-14 00:00:00",
    "1": "2002-05-01 00:00:00",
    "2": "2002-04-01 00:00:00",
    "3": "2003-05-03 00:00:00",
    "4": "2003-10-17 00:00:00",
    "5": "2003-10-17 00:00:00",
    "6": "2004-01-02 00:00:00",
    "7": "2004-03-04 00:00:00"
  },
  "Address": {
    "0": "11120 Jasper Ave NW",
    "1": "825 8 Ave SW",
    "2": "1111 6 Ave SW",
    "3": "683 10 Street SW",
    "4": "7727B 41 Ave",
    "5": "5827 Bowness Road NW",
    "6": "590 Columbia Boulevard West",
    "7": "923 7 ST NW"
  },
  "City": {
    "0": "Edmonton",
    "1": "Calgary",
    "2": "Calgary",
    "3": "Calgary",
    "4": "Calgary",
    "5": "Calgary",
    "6": "Lethbridge",
    "7": "Lethbridge"
  },
  "State": {
    "0": "AB",
    "1": "AB",
    "2": "AB",
    "3": "AB",
    "4": "AB",
    "5": "AB",
    "6": "AB",
    "7": "AB"
  },
  "Country": {
    "0": "Canada",
    "1": "Canada",
    "2": "Canada",
    "3": "Canada",
    "4": "Canada",
    "5": "Canada",
    "6": "Canada",
    "7": "Canada"
  },
  "PostalCode": {
    "0": "T5K 2N1",
    "1": "T2P 2T3",
    "2": "T2P 5M5",
    "3": "T2P 5G3",
    "4": "T3B 1Y7",
    "5": "T3B 0C5",
    "6": "T1K 5N8",
    "7": "T1H 1Y8"
  },
  "Phone": {
    "0": "+1 (780) 428-9482",
    "1": "+1 (403) 262-3443",
    "2": "+1 (403) 262-3443",
    "3": "+1 (403) 263-4423",
    "4": "1 (780) 836-9987",
    "5": "+1 (403) 246-9887",
    "6": "+1 (403) 456-9986",
    "7": "+1 (403) 467-3351"
  },
  "Fax": {
    "0": "+1 (780) 428-3457",
    "1": "+1 (403) 262-3322",
    "2": "+1 (403) 262-6712",
    "3": "+1 (403) 263-4289",
    "4": "1 (780) 836-9543",
    "5": "+1 (403) 246-9899",
    "6": "+1 (403) 456-8485",
    "7": "+1 (403) 467-8772"
  },
  "Email": {
    "0": "andrew@chinookcorp.com",
    "1": "nancy@chinookcorp.com",
    "2": "jane@chinookcorp.com",
    "3": "margaret@chinookcorp.com",
    "4": "steve@chinookcorp.com",
    "5": "michael@chinookcorp.com",
    "6": "robert@chinookcorp.com",
    "7": "laura@chinookcorp.com"
  }
}

In [40]:
customers_json_formatted = JSON.dumps(customers_json_object, indent = 2)
print(customers_json_formatted)

{
  "CustomerId": {
    "0": 1,
    "1": 2,
    "2": 3,
    "3": 4,
    "4": 5,
    "5": 6,
    "6": 7,
    "7": 8,
    "8": 9,
    "9": 10,
    "10": 11,
    "11": 12,
    "12": 13,
    "13": 14,
    "14": 15,
    "15": 16,
    "16": 17,
    "17": 18,
    "18": 19,
    "19": 20,
    "20": 21,
    "21": 22,
    "22": 23,
    "23": 24,
    "24": 25,
    "25": 26,
    "26": 27,
    "27": 28,
    "28": 29,
    "29": 30,
    "30": 31,
    "31": 32,
    "32": 33,
    "33": 34,
    "34": 35,
    "35": 36,
    "36": 37,
    "37": 38,
    "38": 39,
    "39": 40,
    "40": 41,
    "41": 42,
    "42": 43,
    "43": 44,
    "44": 45,
    "45": 46,
    "46": 47,
    "47": 48,
    "48": 49,
    "49": 50,
    "50": 51,
    "51": 52,
    "52": 53,
    "53": 54,
    "54": 55,
    "55": 56,
    "56": 57,
    "57": 58,
    "58": 59
  },
  "FirstName": {
    "0": "Lu\u00eds",
    "1": "Leonie",
    "2": "Fran\u00e7ois",
    "3": "Bj\u00f8rn",
    "4": "Franti\u0161ek",
    "5": "Helena",
    "6": "Astrid",
    "7": "Daan",
    "8": "Kara",
    "9": "Eduardo",
    "10": "Alexandre",
    "11": "Roberto",
    "12": "Fernanda",
    "13": "Mark",
    "14": "Jennifer",
    "15": "Frank",
    "16": "Jack",
    "17": "Michelle",
    "18": "Tim",
    "19": "Dan",
    "20": "Kathy",
    "21": "Heather",
    "22": "John",
    "23": "Frank",
    "24": "Victor",
    "25": "Richard",
    "26": "Patrick",
    "27": "Julia",
    "28": "Robert",
    "29": "Edward",
    "30": "Martha",
    "31": "Aaron",
    "32": "Ellie",
    "33": "Jo\u00e3o",
    "34": "Madalena",
    "35": "Hannah",
    "36": "Fynn",
    "37": "Niklas",
    "38": "Camille",
    "39": "Dominique",
    "40": "Marc",
    "41": "Wyatt",
    "42": "Isabelle",
    "43": "Terhi",
    "44": "Ladislav",
    "45": "Hugh",
    "46": "Lucas",
    "47": "Johannes",
    "48": "Stanis\u0142aw",
    "49": "Enrique",
    "50": "Joakim",
    "51": "Emma",
    "52": "Phil",
    "53": "Steve",
    "54": "Mark",
    "55": "Diego",
    "56": "Luis",
    "57": "Manoj",
    "58": "Puja"
  },
  "LastName": {
    "0": "Gon\u00e7alves",
    "1": "K\u00f6hler",
    "2": "Tremblay",
    "3": "Hansen",
    "4": "Wichterlov\u00e1",
    "5": "Hol\u00fd",
    "6": "Gruber",
    "7": "Peeters",
    "8": "Nielsen",
    "9": "Martins",
    "10": "Rocha",
    "11": "Almeida",
    "12": "Ramos",
    "13": "Philips",
    "14": "Peterson",
    "15": "Harris",
    "16": "Smith",
    "17": "Brooks",
    "18": "Goyer",
    "19": "Miller",
    "20": "Chase",
    "21": "Leacock",
    "22": "Gordon",
    "23": "Ralston",
    "24": "Stevens",
    "25": "Cunningham",
    "26": "Gray",
    "27": "Barnett",
    "28": "Brown",
    "29": "Francis",
    "30": "Silk",
    "31": "Mitchell",
    "32": "Sullivan",
    "33": "Fernandes",
    "34": "Sampaio",
    "35": "Schneider",
    "36": "Zimmermann",
    "37": "Schr\u00f6der",
    "38": "Bernard",
    "39": "Lefebvre",
    "40": "Dubois",
    "41": "Girard",
    "42": "Mercier",
    "43": "H\u00e4m\u00e4l\u00e4inen",
    "44": "Kov\u00e1cs",
    "45": "O'Reilly",
    "46": "Mancini",
    "47": "Van der Berg",
    "48": "W\u00f3jcik",
    "49": "Mu\u00f1oz",
    "50": "Johansson",
    "51": "Jones",
    "52": "Hughes",
    "53": "Murray",
    "54": "Taylor",
    "55": "Guti\u00e9rrez",
    "56": "Rojas",
    "57": "Pareek",
    "58": "Srivastava"
  },
  "Company": {
    "0": "Embraer - Empresa Brasileira de Aeron\u00e1utica S.A.",
    "1": null,
    "2": null,
    "3": null,
    "4": "JetBrains s.r.o.",
    "5": null,
    "6": null,
    "7": null,
    "8": null,
    "9": "Woodstock Discos",
    "10": "Banco do Brasil S.A.",
    "11": "Riotur",
    "12": null,
    "13": "Telus",
    "14": "Rogers Canada",
    "15": "Google Inc.",
    "16": "Microsoft Corporation",
    "17": null,
    "18": "Apple Inc.",
    "19": null,
    "20": null,
    "21": null,
    "22": null,
    "23": null,
    "24": null,
    "25": null,
    "26": null,
    "27": null,
    "28": null,
    "29": null,
    "30": null,
    "31": null,
    "32": null,
    "33": null,
    "34": null,
    "35": null,
    "36": null,
    "37": null,
    "38": null,
    "39": null,
    "40": null,
    "41": null,
    "42": null,
    "43": null,
    "44": null,
    "45": null,
    "46": null,
    "47": null,
    "48": null,
    "49": null,
    "50": null,
    "51": null,
    "52": null,
    "53": null,
    "54": null,
    "55": null,
    "56": null,
    "57": null,
    "58": null
  },
  "Address": {
    "0": "Av. Brigadeiro Faria Lima, 2170",
    "1": "Theodor-Heuss-Stra\u00dfe 34",
    "2": "1498 rue B\u00e9langer",
    "3": "Ullev\u00e5lsveien 14",
    "4": "Klanova 9/506",
    "5": "Rilsk\u00e1 3174/6",
    "6": "Rotenturmstra\u00dfe 4, 1010 Innere Stadt",
    "7": "Gr\u00e9trystraat 63",
    "8": "S\u00f8nder Boulevard 51",
    "9": "Rua Dr. Falc\u00e3o Filho, 155",
    "10": "Av. Paulista, 2022",
    "11": "Pra\u00e7a Pio X, 119",
    "12": "Qe 7 Bloco G",
    "13": "8210 111 ST NW",
    "14": "700 W Pender Street",
    "15": "1600 Amphitheatre Parkway",
    "16": "1 Microsoft Way",
    "17": "627 Broadway",
    "18": "1 Infinite Loop",
    "19": "541 Del Medio Avenue",
    "20": "801 W 4th Street",
    "21": "120 S Orange Ave",
    "22": "69 Salem Street",
    "23": "162 E Superior Street",
    "24": "319 N. Frances Street",
    "25": "2211 W Berry Street",
    "26": "1033 N Park Ave",
    "27": "302 S 700 E",
    "28": "796 Dundas Street West",
    "29": "230 Elgin Street",
    "30": "194A Chain Lake Drive",
    "31": "696 Osborne Street",
    "32": "5112 48 Street",
    "33": "Rua da Assun\u00e7\u00e3o 53",
    "34": "Rua dos Campe\u00f5es Europeus de Viena, 4350",
    "35": "Tauentzienstra\u00dfe 8",
    "36": "Berger Stra\u00dfe 10",
    "37": "Barbarossastra\u00dfe 19",
    "38": "4, Rue Milton",
    "39": "8, Rue Hanovre",
    "40": "11, Place Bellecour",
    "41": "9, Place Louis Barthou",
    "42": "68, Rue Jouvence",
    "43": "Porthaninkatu 9",
    "44": "Erzs\u00e9bet krt. 58.",
    "45": "3 Chatham Street",
    "46": "Via Degli Scipioni, 43",
    "47": "Lijnbaansgracht 120bg",
    "48": "Ordynacka 10",
    "49": "C/ San Bernardo 85",
    "50": "Celsiusg. 9",
    "51": "202 Hoxton Street",
    "52": "113 Lupus St",
    "53": "110 Raeburn Pl",
    "54": "421 Bourke Street",
    "55": "307 Macacha G\u00fcemes",
    "56": "Calle Lira, 198",
    "57": "12,Community Centre",
    "58": "3,Raj Bhavan Road"
  },
  "City": {
    "0": "S\u00e3o Jos\u00e9 dos Campos",
    "1": "Stuttgart",
    "2": "Montr\u00e9al",
    "3": "Oslo",
    "4": "Prague",
    "5": "Prague",
    "6": "Vienne",
    "7": "Brussels",
    "8": "Copenhagen",
    "9": "S\u00e3o Paulo",
    "10": "S\u00e3o Paulo",
    "11": "Rio de Janeiro",
    "12": "Bras\u00edlia",
    "13": "Edmonton",
    "14": "Vancouver",
    "15": "Mountain View",
    "16": "Redmond",
    "17": "New York",
    "18": "Cupertino",
    "19": "Mountain View",
    "20": "Reno",
    "21": "Orlando",
    "22": "Boston",
    "23": "Chicago",
    "24": "Madison",
    "25": "Fort Worth",
    "26": "Tucson",
    "27": "Salt Lake City",
    "28": "Toronto",
    "29": "Ottawa",
    "30": "Halifax",
    "31": "Winnipeg",
    "32": "Yellowknife",
    "33": "Lisbon",
    "34": "Porto",
    "35": "Berlin",
    "36": "Frankfurt",
    "37": "Berlin",
    "38": "Paris",
    "39": "Paris",
    "40": "Lyon",
    "41": "Bordeaux",
    "42": "Dijon",
    "43": "Helsinki",
    "44": "Budapest",
    "45": "Dublin",
    "46": "Rome",
    "47": "Amsterdam",
    "48": "Warsaw",
    "49": "Madrid",
    "50": "Stockholm",
    "51": "London",
    "52": "London",
    "53": "Edinburgh ",
    "54": "Sidney",
    "55": "Buenos Aires",
    "56": "Santiago",
    "57": "Delhi",
    "58": "Bangalore"
  },
  "State": {
    "0": "SP",
    "1": null,
    "2": "QC",
    "3": null,
    "4": null,
    "5": null,
    "6": null,
    "7": null,
    "8": null,
    "9": "SP",
    "10": "SP",
    "11": "RJ",
    "12": "DF",
    "13": "AB",
    "14": "BC",
    "15": "CA",
    "16": "WA",
    "17": "NY",
    "18": "CA",
    "19": "CA",
    "20": "NV",
    "21": "FL",
    "22": "MA",
    "23": "IL",
    "24": "WI",
    "25": "TX",
    "26": "AZ",
    "27": "UT",
    "28": "ON",
    "29": "ON",
    "30": "NS",
    "31": "MB",
    "32": "NT",
    "33": null,
    "34": null,
    "35": null,
    "36": null,
    "37": null,
    "38": null,
    "39": null,
    "40": null,
    "41": null,
    "42": null,
    "43": null,
    "44": null,
    "45": "Dublin",
    "46": "RM",
    "47": "VV",
    "48": null,
    "49": null,
    "50": null,
    "51": null,
    "52": null,
    "53": null,
    "54": "NSW",
    "55": null,
    "56": null,
    "57": null,
    "58": null
  },
  "Country": {
    "0": "Brazil",
    "1": "Germany",
    "2": "Canada",
    "3": "Norway",
    "4": "Czech Republic",
    "5": "Czech Republic",
    "6": "Austria",
    "7": "Belgium",
    "8": "Denmark",
    "9": "Brazil",
    "10": "Brazil",
    "11": "Brazil",
    "12": "Brazil",
    "13": "Canada",
    "14": "Canada",
    "15": "USA",
    "16": "USA",
    "17": "USA",
    "18": "USA",
    "19": "USA",
    "20": "USA",
    "21": "USA",
    "22": "USA",
    "23": "USA",
    "24": "USA",
    "25": "USA",
    "26": "USA",
    "27": "USA",
    "28": "Canada",
    "29": "Canada",
    "30": "Canada",
    "31": "Canada",
    "32": "Canada",
    "33": "Portugal",
    "34": "Portugal",
    "35": "Germany",
    "36": "Germany",
    "37": "Germany",
    "38": "France",
    "39": "France",
    "40": "France",
    "41": "France",
    "42": "France",
    "43": "Finland",
    "44": "Hungary",
    "45": "Ireland",
    "46": "Italy",
    "47": "Netherlands",
    "48": "Poland",
    "49": "Spain",
    "50": "Sweden",
    "51": "United Kingdom",
    "52": "United Kingdom",
    "53": "United Kingdom",
    "54": "Australia",
    "55": "Argentina",
    "56": "Chile",
    "57": "India",
    "58": "India"
  },
  "PostalCode": {
    "0": "12227-000",
    "1": "70174",
    "2": "H2G 1A7",
    "3": "0171",
    "4": "14700",
    "5": "14300",
    "6": "1010",
    "7": "1000",
    "8": "1720",
    "9": "01007-010",
    "10": "01310-200",
    "11": "20040-020",
    "12": "71020-677",
    "13": "T6G 2C7",
    "14": "V6C 1G8",
    "15": "94043-1351",
    "16": "98052-8300",
    "17": "10012-2612",
    "18": "95014",
    "19": "94040-111",
    "20": "89503",
    "21": "32801",
    "22": "2113",
    "23": "60611",
    "24": "53703",
    "25": "76110",
    "26": "85719",
    "27": "84102",
    "28": "M6J 1V1",
    "29": "K2P 1L7",
    "30": "B3S 1C5",
    "31": "R3L 2B9",
    "32": "X1A 1N6",
    "33": null,
    "34": null,
    "35": "10789",
    "36": "60316",
    "37": "10779",
    "38": "75009",
    "39": "75002",
    "40": "69002",
    "41": "33000",
    "42": "21000",
    "43": "00530",
    "44": "H-1073",
    "45": null,
    "46": "00192",
    "47": "1016",
    "48": "00-358",
    "49": "28015",
    "50": "11230",
    "51": "N1 5LH",
    "52": "SW1V 3EN",
    "53": "EH4 1HH",
    "54": "2010",
    "55": "1106",
    "56": null,
    "57": "110017",
    "58": "560001"
  },
  "Phone": {
    "0": "+55 (12) 3923-5555",
    "1": "+49 0711 2842222",
    "2": "+1 (514) 721-4711",
    "3": "+47 22 44 22 22",
    "4": "+420 2 4172 5555",
    "5": "+420 2 4177 0449",
    "6": "+43 01 5134505",
    "7": "+32 02 219 03 03",
    "8": "+453 3331 9991",
    "9": "+55 (11) 3033-5446",
    "10": "+55 (11) 3055-3278",
    "11": "+55 (21) 2271-7000",
    "12": "+55 (61) 3363-5547",
    "13": "+1 (780) 434-4554",
    "14": "+1 (604) 688-2255",
    "15": "+1 (650) 253-0000",
    "16": "+1 (425) 882-8080",
    "17": "+1 (212) 221-3546",
    "18": "+1 (408) 996-1010",
    "19": "+1 (650) 644-3358",
    "20": "+1 (775) 223-7665",
    "21": "+1 (407) 999-7788",
    "22": "+1 (617) 522-1333",
    "23": "+1 (312) 332-3232",
    "24": "+1 (608) 257-0597",
    "25": "+1 (817) 924-7272",
    "26": "+1 (520) 622-4200",
    "27": "+1 (801) 531-7272",
    "28": "+1 (416) 363-8888",
    "29": "+1 (613) 234-3322",
    "30": "+1 (902) 450-0450",
    "31": "+1 (204) 452-6452",
    "32": "+1 (867) 920-2233",
    "33": "+351 (213) 466-111",
    "34": "+351 (225) 022-448",
    "35": "+49 030 26550280",
    "36": "+49 069 40598889",
    "37": "+49 030 2141444",
    "38": "+33 01 49 70 65 65",
    "39": "+33 01 47 42 71 71",
    "40": "+33 04 78 30 30 30",
    "41": "+33 05 56 96 96 96",
    "42": "+33 03 80 73 66 99",
    "43": "+358 09 870 2000",
    "44": null,
    "45": "+353 01 6792424",
    "46": "+39 06 39733434",
    "47": "+31 020 6223130",
    "48": "+48 22 828 37 39",
    "49": "+34 914 454 454",
    "50": "+46 08-651 52 52",
    "51": "+44 020 7707 0707",
    "52": "+44 020 7976 5722",
    "53": "+44 0131 315 3300",
    "54": "+61 (02) 9332 3633",
    "55": "+54 (0)11 4311 4333",
    "56": "+56 (0)2 635 4444",
    "57": "+91 0124 39883988",
    "58": "+91 080 22289999"
  },
  "Fax": {
    "0": "+55 (12) 3923-5566",
    "1": null,
    "2": null,
    "3": null,
    "4": "+420 2 4172 5555",
    "5": null,
    "6": null,
    "7": null,
    "8": null,
    "9": "+55 (11) 3033-4564",
    "10": "+55 (11) 3055-8131",
    "11": "+55 (21) 2271-7070",
    "12": "+55 (61) 3363-7855",
    "13": "+1 (780) 434-5565",
    "14": "+1 (604) 688-8756",
    "15": "+1 (650) 253-0000",
    "16": "+1 (425) 882-8081",
    "17": "+1 (212) 221-4679",
    "18": "+1 (408) 996-1011",
    "19": null,
    "20": null,
    "21": null,
    "22": null,
    "23": null,
    "24": null,
    "25": null,
    "26": null,
    "27": null,
    "28": null,
    "29": null,
    "30": null,
    "31": null,
    "32": null,
    "33": null,
    "34": null,
    "35": null,
    "36": null,
    "37": null,
    "38": null,
    "39": null,
    "40": null,
    "41": null,
    "42": null,
    "43": null,
    "44": null,
    "45": null,
    "46": null,
    "47": null,
    "48": null,
    "49": null,
    "50": null,
    "51": null,
    "52": null,
    "53": null,
    "54": null,
    "55": null,
    "56": null,
    "57": null,
    "58": null
  },
  "Email": {
    "0": "luisg@embraer.com.br",
    "1": "leonekohler@surfeu.de",
    "2": "ftremblay@gmail.com",
    "3": "bjorn.hansen@yahoo.no",
    "4": "frantisekw@jetbrains.com",
    "5": "hholy@gmail.com",
    "6": "astrid.gruber@apple.at",
    "7": "daan_peeters@apple.be",
    "8": "kara.nielsen@jubii.dk",
    "9": "eduardo@woodstock.com.br",
    "10": "alero@uol.com.br",
    "11": "roberto.almeida@riotur.gov.br",
    "12": "fernadaramos4@uol.com.br",
    "13": "mphilips12@shaw.ca",
    "14": "jenniferp@rogers.ca",
    "15": "fharris@google.com",
    "16": "jacksmith@microsoft.com",
    "17": "michelleb@aol.com",
    "18": "tgoyer@apple.com",
    "19": "dmiller@comcast.com",
    "20": "kachase@hotmail.com",
    "21": "hleacock@gmail.com",
    "22": "johngordon22@yahoo.com",
    "23": "fralston@gmail.com",
    "24": "vstevens@yahoo.com",
    "25": "ricunningham@hotmail.com",
    "26": "patrick.gray@aol.com",
    "27": "jubarnett@gmail.com",
    "28": "robbrown@shaw.ca",
    "29": "edfrancis@yachoo.ca",
    "30": "marthasilk@gmail.com",
    "31": "aaronmitchell@yahoo.ca",
    "32": "ellie.sullivan@shaw.ca",
    "33": "jfernandes@yahoo.pt",
    "34": "masampaio@sapo.pt",
    "35": "hannah.schneider@yahoo.de",
    "36": "fzimmermann@yahoo.de",
    "37": "nschroder@surfeu.de",
    "38": "camille.bernard@yahoo.fr",
    "39": "dominiquelefebvre@gmail.com",
    "40": "marc.dubois@hotmail.com",
    "41": "wyatt.girard@yahoo.fr",
    "42": "isabelle_mercier@apple.fr",
    "43": "terhi.hamalainen@apple.fi",
    "44": "ladislav_kovacs@apple.hu",
    "45": "hughoreilly@apple.ie",
    "46": "lucas.mancini@yahoo.it",
    "47": "johavanderberg@yahoo.nl",
    "48": "stanis\u0142aw.w\u00f3jcik@wp.pl",
    "49": "enrique_munoz@yahoo.es",
    "50": "joakim.johansson@yahoo.se",
    "51": "emma_jones@hotmail.com",
    "52": "phil.hughes@gmail.com",
    "53": "steve.murray@yahoo.uk",
    "54": "mark.taylor@yahoo.au",
    "55": "diego.gutierrez@yahoo.ar",
    "56": "luisrojas@yahoo.cl",
    "57": "manoj.pareek@rediff.com",
    "58": "puja_srivastava@yahoo.in"
  },
  "SupportRepId": {
    "0": 3,
    "1": 5,
    "2": 3,
    "3": 4,
    "4": 4,
    "5": 5,
    "6": 5,
    "7": 4,
    "8": 4,
    "9": 4,
    "10": 5,
    "11": 3,
    "12": 4,
    "13": 5,
    "14": 3,
    "15": 4,
    "16": 5,
    "17": 3,
    "18": 3,
    "19": 4,
    "20": 5,
    "21": 4,
    "22": 4,
    "23": 3,
    "24": 5,
    "25": 4,
    "26": 4,
    "27": 5,
    "28": 3,
    "29": 3,
    "30": 5,
    "31": 4,
    "32": 3,
    "33": 4,
    "34": 4,
    "35": 5,
    "36": 3,
    "37": 3,
    "38": 4,
    "39": 4,
    "40": 5,
    "41": 3,
    "42": 3,
    "43": 3,
    "44": 3,
    "45": 3,
    "46": 5,
    "47": 5,
    "48": 4,
    "49": 5,
    "50": 5,
    "51": 3,
    "52": 3,
    "53": 5,
    "54": 4,
    "55": 4,
    "56": 5,
    "57": 3,
    "58": 3
  }
}

In [41]:
artists_json_formatted = JSON.dumps(artists_json_object, indent = 2)
print(artists_json_formatted)

{
  "ArtistId": {
    "0": 1,
    "1": 2,
    "2": 3,
    "3": 4,
    "4": 5,
    "5": 6,
    "6": 7,
    "7": 8,
    "8": 9,
    "9": 10,
    "10": 11,
    "11": 12,
    "12": 13,
    "13": 14,
    "14": 15,
    "15": 16,
    "16": 17,
    "17": 18,
    "18": 19,
    "19": 20,
    "20": 21,
    "21": 22,
    "22": 23,
    "23": 24,
    "24": 25,
    "25": 26,
    "26": 27,
    "27": 28,
    "28": 29,
    "29": 30,
    "30": 31,
    "31": 32,
    "32": 33,
    "33": 34,
    "34": 35,
    "35": 36,
    "36": 37,
    "37": 38,
    "38": 39,
    "39": 40,
    "40": 41,
    "41": 42,
    "42": 43,
    "43": 44,
    "44": 45,
    "45": 46,
    "46": 47,
    "47": 48,
    "48": 49,
    "49": 50,
    "50": 51,
    "51": 52,
    "52": 53,
    "53": 54,
    "54": 55,
    "55": 56,
    "56": 57,
    "57": 58,
    "58": 59,
    "59": 60,
    "60": 61,
    "61": 62,
    "62": 63,
    "63": 64,
    "64": 65,
    "65": 66,
    "66": 67,
    "67": 68,
    "68": 69,
    "69": 70,
    "70": 71,
    "71": 72,
    "72": 73,
    "73": 74,
    "74": 75,
    "75": 76,
    "76": 77,
    "77": 78,
    "78": 79,
    "79": 80,
    "80": 81,
    "81": 82,
    "82": 83,
    "83": 84,
    "84": 85,
    "85": 86,
    "86": 87,
    "87": 88,
    "88": 89,
    "89": 90,
    "90": 91,
    "91": 92,
    "92": 93,
    "93": 94,
    "94": 95,
    "95": 96,
    "96": 97,
    "97": 98,
    "98": 99,
    "99": 100,
    "100": 101,
    "101": 102,
    "102": 103,
    "103": 104,
    "104": 105,
    "105": 106,
    "106": 107,
    "107": 108,
    "108": 109,
    "109": 110,
    "110": 111,
    "111": 112,
    "112": 113,
    "113": 114,
    "114": 115,
    "115": 116,
    "116": 117,
    "117": 118,
    "118": 119,
    "119": 120,
    "120": 121,
    "121": 122,
    "122": 123,
    "123": 124,
    "124": 125,
    "125": 126,
    "126": 127,
    "127": 128,
    "128": 129,
    "129": 130,
    "130": 131,
    "131": 132,
    "132": 133,
    "133": 134,
    "134": 135,
    "135": 136,
    "136": 137,
    "137": 138,
    "138": 139,
    "139": 140,
    "140": 141,
    "141": 142,
    "142": 143,
    "143": 144,
    "144": 145,
    "145": 146,
    "146": 147,
    "147": 148,
    "148": 149,
    "149": 150,
    "150": 151,
    "151": 152,
    "152": 153,
    "153": 154,
    "154": 155,
    "155": 156,
    "156": 157,
    "157": 158,
    "158": 159,
    "159": 160,
    "160": 161,
    "161": 162,
    "162": 163,
    "163": 164,
    "164": 165,
    "165": 166,
    "166": 167,
    "167": 168,
    "168": 169,
    "169": 170,
    "170": 171,
    "171": 172,
    "172": 173,
    "173": 174,
    "174": 175,
    "175": 176,
    "176": 177,
    "177": 178,
    "178": 179,
    "179": 180,
    "180": 181,
    "181": 182,
    "182": 183,
    "183": 184,
    "184": 185,
    "185": 186,
    "186": 187,
    "187": 188,
    "188": 189,
    "189": 190,
    "190": 191,
    "191": 192,
    "192": 193,
    "193": 194,
    "194": 195,
    "195": 196,
    "196": 197,
    "197": 198,
    "198": 199,
    "199": 200,
    "200": 201,
    "201": 202,
    "202": 203,
    "203": 204,
    "204": 205,
    "205": 206,
    "206": 207,
    "207": 208,
    "208": 209,
    "209": 210,
    "210": 211,
    "211": 212,
    "212": 213,
    "213": 214,
    "214": 215,
    "215": 216,
    "216": 217,
    "217": 218,
    "218": 219,
    "219": 220,
    "220": 221,
    "221": 222,
    "222": 223,
    "223": 224,
    "224": 225,
    "225": 226,
    "226": 227,
    "227": 228,
    "228": 229,
    "229": 230,
    "230": 231,
    "231": 232,
    "232": 233,
    "233": 234,
    "234": 235,
    "235": 236,
    "236": 237,
    "237": 238,
    "238": 239,
    "239": 240,
    "240": 241,
    "241": 242,
    "242": 243,
    "243": 244,
    "244": 245,
    "245": 246,
    "246": 247,
    "247": 248,
    "248": 249,
    "249": 250,
    "250": 251,
    "251": 252,
    "252": 253,
    "253": 254,
    "254": 255,
    "255": 256,
    "256": 257,
    "257": 258,
    "258": 259,
    "259": 260,
    "260": 261,
    "261": 262,
    "262": 263,
    "263": 264,
    "264": 265,
    "265": 266,
    "266": 267,
    "267": 268,
    "268": 269,
    "269": 270,
    "270": 271,
    "271": 272,
    "272": 273,
    "273": 274,
    "274": 275
  },
  "Name": {
    "0": "AC/DC",
    "1": "Accept",
    "2": "Aerosmith",
    "3": "Alanis Morissette",
    "4": "Alice In Chains",
    "5": "Ant\u00f4nio Carlos Jobim",
    "6": "Apocalyptica",
    "7": "Audioslave",
    "8": "BackBeat",
    "9": "Billy Cobham",
    "10": "Black Label Society",
    "11": "Black Sabbath",
    "12": "Body Count",
    "13": "Bruce Dickinson",
    "14": "Buddy Guy",
    "15": "Caetano Veloso",
    "16": "Chico Buarque",
    "17": "Chico Science & Na\u00e7\u00e3o Zumbi",
    "18": "Cidade Negra",
    "19": "Cl\u00e1udio Zoli",
    "20": "Various Artists",
    "21": "Led Zeppelin",
    "22": "Frank Zappa & Captain Beefheart",
    "23": "Marcos Valle",
    "24": "Milton Nascimento & Bebeto",
    "25": "Azymuth",
    "26": "Gilberto Gil",
    "27": "Jo\u00e3o Gilberto",
    "28": "Bebel Gilberto",
    "29": "Jorge Vercilo",
    "30": "Baby Consuelo",
    "31": "Ney Matogrosso",
    "32": "Luiz Melodia",
    "33": "Nando Reis",
    "34": "Pedro Lu\u00eds & A Parede",
    "35": "O Rappa",
    "36": "Ed Motta",
    "37": "Banda Black Rio",
    "38": "Fernanda Porto",
    "39": "Os Cariocas",
    "40": "Elis Regina",
    "41": "Milton Nascimento",
    "42": "A Cor Do Som",
    "43": "Kid Abelha",
    "44": "Sandra De S\u00e1",
    "45": "Jorge Ben",
    "46": "Hermeto Pascoal",
    "47": "Bar\u00e3o Vermelho",
    "48": "Edson, DJ Marky & DJ Patife Featuring Fernanda Porto",
    "49": "Metallica",
    "50": "Queen",
    "51": "Kiss",
    "52": "Spyro Gyra",
    "53": "Green Day",
    "54": "David Coverdale",
    "55": "Gonzaguinha",
    "56": "Os Mutantes",
    "57": "Deep Purple",
    "58": "Santana",
    "59": "Santana Feat. Dave Matthews",
    "60": "Santana Feat. Everlast",
    "61": "Santana Feat. Rob Thomas",
    "62": "Santana Feat. Lauryn Hill & Cee-Lo",
    "63": "Santana Feat. The Project G&B",
    "64": "Santana Feat. Man\u00e1",
    "65": "Santana Feat. Eagle-Eye Cherry",
    "66": "Santana Feat. Eric Clapton",
    "67": "Miles Davis",
    "68": "Gene Krupa",
    "69": "Toquinho & Vin\u00edcius",
    "70": "Vin\u00edcius De Moraes & Baden Powell",
    "71": "Vin\u00edcius De Moraes",
    "72": "Vin\u00edcius E Qurteto Em Cy",
    "73": "Vin\u00edcius E Odette Lara",
    "74": "Vinicius, Toquinho & Quarteto Em Cy",
    "75": "Creedence Clearwater Revival",
    "76": "C\u00e1ssia Eller",
    "77": "Def Leppard",
    "78": "Dennis Chambers",
    "79": "Djavan",
    "80": "Eric Clapton",
    "81": "Faith No More",
    "82": "Falamansa",
    "83": "Foo Fighters",
    "84": "Frank Sinatra",
    "85": "Funk Como Le Gusta",
    "86": "Godsmack",
    "87": "Guns N' Roses",
    "88": "Incognito",
    "89": "Iron Maiden",
    "90": "James Brown",
    "91": "Jamiroquai",
    "92": "JET",
    "93": "Jimi Hendrix",
    "94": "Joe Satriani",
    "95": "Jota Quest",
    "96": "Jo\u00e3o Suplicy",
    "97": "Judas Priest",
    "98": "Legi\u00e3o Urbana",
    "99": "Lenny Kravitz",
    "100": "Lulu Santos",
    "101": "Marillion",
    "102": "Marisa Monte",
    "103": "Marvin Gaye",
    "104": "Men At Work",
    "105": "Mot\u00f6rhead",
    "106": "Mot\u00f6rhead & Girlschool",
    "107": "M\u00f4nica Marianno",
    "108": "M\u00f6tley Cr\u00fce",
    "109": "Nirvana",
    "110": "O Ter\u00e7o",
    "111": "Olodum",
    "112": "Os Paralamas Do Sucesso",
    "113": "Ozzy Osbourne",
    "114": "Page & Plant",
    "115": "Passengers",
    "116": "Paul D'Ianno",
    "117": "Pearl Jam",
    "118": "Peter Tosh",
    "119": "Pink Floyd",
    "120": "Planet Hemp",
    "121": "R.E.M. Feat. Kate Pearson",
    "122": "R.E.M. Feat. KRS-One",
    "123": "R.E.M.",
    "124": "Raimundos",
    "125": "Raul Seixas",
    "126": "Red Hot Chili Peppers",
    "127": "Rush",
    "128": "Simply Red",
    "129": "Skank",
    "130": "Smashing Pumpkins",
    "131": "Soundgarden",
    "132": "Stevie Ray Vaughan & Double Trouble",
    "133": "Stone Temple Pilots",
    "134": "System Of A Down",
    "135": "Terry Bozzio, Tony Levin & Steve Stevens",
    "136": "The Black Crowes",
    "137": "The Clash",
    "138": "The Cult",
    "139": "The Doors",
    "140": "The Police",
    "141": "The Rolling Stones",
    "142": "The Tea Party",
    "143": "The Who",
    "144": "Tim Maia",
    "145": "Tit\u00e3s",
    "146": "Battlestar Galactica",
    "147": "Heroes",
    "148": "Lost",
    "149": "U2",
    "150": "UB40",
    "151": "Van Halen",
    "152": "Velvet Revolver",
    "153": "Whitesnake",
    "154": "Zeca Pagodinho",
    "155": "The Office",
    "156": "Dread Zeppelin",
    "157": "Battlestar Galactica (Classic)",
    "158": "Aquaman",
    "159": "Christina Aguilera featuring BigElf",
    "160": "Aerosmith & Sierra Leone's Refugee Allstars",
    "161": "Los Lonely Boys",
    "162": "Corinne Bailey Rae",
    "163": "Dhani Harrison & Jakob Dylan",
    "164": "Jackson Browne",
    "165": "Avril Lavigne",
    "166": "Big & Rich",
    "167": "Youssou N'Dour",
    "168": "Black Eyed Peas",
    "169": "Jack Johnson",
    "170": "Ben Harper",
    "171": "Snow Patrol",
    "172": "Matisyahu",
    "173": "The Postal Service",
    "174": "Jaguares",
    "175": "The Flaming Lips",
    "176": "Jack's Mannequin & Mick Fleetwood",
    "177": "Regina Spektor",
    "178": "Scorpions",
    "179": "House Of Pain",
    "180": "Xis",
    "181": "Nega Gizza",
    "182": "Gustavo & Andres Veiga & Salazar",
    "183": "Rodox",
    "184": "Charlie Brown Jr.",
    "185": "Pedro Lu\u00eds E A Parede",
    "186": "Los Hermanos",
    "187": "Mundo Livre S/A",
    "188": "Otto",
    "189": "Instituto",
    "190": "Na\u00e7\u00e3o Zumbi",
    "191": "DJ Dolores & Orchestra Santa Massa",
    "192": "Seu Jorge",
    "193": "Sabotage E Instituto",
    "194": "Stereo Maracana",
    "195": "Cake",
    "196": "Aisha Duo",
    "197": "Habib Koit\u00e9 and Bamada",
    "198": "Karsh Kale",
    "199": "The Posies",
    "200": "Luciana Souza/Romero Lubambo",
    "201": "Aaron Goldberg",
    "202": "Nicolaus Esterhazy Sinfonia",
    "203": "Temple of the Dog",
    "204": "Chris Cornell",
    "205": "Alberto Turco & Nova Schola Gregoriana",
    "206": "Richard Marlow & The Choir of Trinity College, Cambridge",
    "207": "English Concert & Trevor Pinnock",
    "208": "Anne-Sophie Mutter, Herbert Von Karajan & Wiener Philharmoniker",
    "209": "Hilary Hahn, Jeffrey Kahane, Los Angeles Chamber Orchestra & Margaret Batjer",
    "210": "Wilhelm Kempff",
    "211": "Yo-Yo Ma",
    "212": "Scholars Baroque Ensemble",
    "213": "Academy of St. Martin in the Fields & Sir Neville Marriner",
    "214": "Academy of St. Martin in the Fields Chamber Ensemble & Sir Neville Marriner",
    "215": "Berliner Philharmoniker, Claudio Abbado & Sabine Meyer",
    "216": "Royal Philharmonic Orchestra & Sir Thomas Beecham",
    "217": "Orchestre R\u00e9volutionnaire et Romantique & John Eliot Gardiner",
    "218": "Britten Sinfonia, Ivor Bolton & Lesley Garrett",
    "219": "Chicago Symphony Chorus, Chicago Symphony Orchestra & Sir Georg Solti",
    "220": "Sir Georg Solti & Wiener Philharmoniker",
    "221": "Academy of St. Martin in the Fields, John Birch, Sir Neville Marriner & Sylvia McNair",
    "222": "London Symphony Orchestra & Sir Charles Mackerras",
    "223": "Barry Wordsworth & BBC Concert Orchestra",
    "224": "Herbert Von Karajan, Mirella Freni & Wiener Philharmoniker",
    "225": "Eugene Ormandy",
    "226": "Luciano Pavarotti",
    "227": "Leonard Bernstein & New York Philharmonic",
    "228": "Boston Symphony Orchestra & Seiji Ozawa",
    "229": "Aaron Copland & London Symphony Orchestra",
    "230": "Ton Koopman",
    "231": "Sergei Prokofiev & Yuri Temirkanov",
    "232": "Chicago Symphony Orchestra & Fritz Reiner",
    "233": "Orchestra of The Age of Enlightenment",
    "234": "Emanuel Ax, Eugene Ormandy & Philadelphia Orchestra",
    "235": "James Levine",
    "236": "Berliner Philharmoniker & Hans Rosbaud",
    "237": "Maurizio Pollini",
    "238": "Academy of St. Martin in the Fields, Sir Neville Marriner & William Bennett",
    "239": "Gustav Mahler",
    "240": "Felix Schmidt, London Symphony Orchestra & Rafael Fr\u00fchbeck de Burgos",
    "241": "Edo de Waart & San Francisco Symphony",
    "242": "Antal Dor\u00e1ti & London Symphony Orchestra",
    "243": "Choir Of Westminster Abbey & Simon Preston",
    "244": "Michael Tilson Thomas & San Francisco Symphony",
    "245": "Chor der Wiener Staatsoper, Herbert Von Karajan & Wiener Philharmoniker",
    "246": "The King's Singers",
    "247": "Berliner Philharmoniker & Herbert Von Karajan",
    "248": "Sir Georg Solti, Sumi Jo & Wiener Philharmoniker",
    "249": "Christopher O'Riley",
    "250": "Fretwork",
    "251": "Amy Winehouse",
    "252": "Calexico",
    "253": "Otto Klemperer & Philharmonia Orchestra",
    "254": "Yehudi Menuhin",
    "255": "Philharmonia Orchestra & Sir Neville Marriner",
    "256": "Academy of St. Martin in the Fields, Sir Neville Marriner & Thurston Dart",
    "257": "Les Arts Florissants & William Christie",
    "258": "The 12 Cellists of The Berlin Philharmonic",
    "259": "Adrian Leaper & Doreen de Feis",
    "260": "Roger Norrington, London Classical Players",
    "261": "Charles Dutoit & L'Orchestre Symphonique de Montr\u00e9al",
    "262": "Equale Brass Ensemble, John Eliot Gardiner & Munich Monteverdi Orchestra and Choir",
    "263": "Kent Nagano and Orchestre de l'Op\u00e9ra de Lyon",
    "264": "Julian Bream",
    "265": "Martin Roscoe",
    "266": "G\u00f6teborgs Symfoniker & Neeme J\u00e4rvi",
    "267": "Itzhak Perlman",
    "268": "Michele Campanella",
    "269": "Gerald Moore",
    "270": "Mela Tenenbaum, Pro Musica Prague & Richard Kapp",
    "271": "Emerson String Quartet",
    "272": "C. Monteverdi, Nigel Rogers - Chiaroscuro; London Baroque; London Cornett & Sackbu",
    "273": "Nash Ensemble",
    "274": "Philip Glass Ensemble"
  }
}

### 10. Write the formatted data into a file with .json extension. Use `write()` function. 
For example, the JSON formatted data of df_tracks dataframe should be stored under a name "tracks_formatted.json".

In [44]:
with open("Assignment4_files\\employees_formatted.json","w") as file1:
    file1.write(employees_json_formatted)

with open("Assignment4_files\\customers_formatted.json","w") as file2:
    file2.write(customers_json_formatted)

with open("Assignment4_files\\artists_formatted.json","w") as file3:
    file3.write(artists_json_formatted)

print(file1.closed, file2.closed, file3.closed)

True True True

## Bonus Questions:
*Return only a Jupyter Notebook.*<br/>

### 11. Report the names and the total number of tables in the database by using Python code.

In [61]:
import sqlite3
conn = sqlite3.connect("..\\data\\chinook.db")

cur = conn.cursor()
cur.execute('SELECT name from sqlite_master WHERE type= "table"')
db_tables = cur.fetchall()

conn.close()

In [62]:
print("The 'chinook.db' database has {} tables.".format(len(db_tables)))

The 'chinook.db' database has 13 tables.

In [63]:
for table in db_tables:
    print(table[0])

albums
sqlite_sequence
artists
customers
employees
genres
invoices
invoice_items
media_types
playlists
playlist_track
tracks
sqlite_stat1

In [66]:
table_names = [table[0] for table in db_tables]
# table_names

### 12. Create  `_CSV.csv`, `_CSV.txt`, `_TSV.txt` and formatted `.json` files in an automated fashion using Python code.

In [67]:
import os

In [77]:
chinook = "..\\data\\chinook.db"
directory = "Assignment4_files_auto\\"

table = "employees"
CSV_csv = table +"_CSV.csv"

print(os.path.join(directory, CSV_csv))

query = "SELECT * FROM " + table + ";"
query

Assignment4_files_auto\employees_CSV.csv

'SELECT * FROM employees;'

In [80]:
import pandas as pd
import sqlite3
import json as JSON
import os


def file_write(table, db_loc, save_loc):
    """This is a function for automated creation of CSV, TSV, and JSON files 
    from a dataframe imported from a database."""
    # Establish a connection using Python code below.
    conn = sqlite3.connect(db_loc)

    # Read tables in the database as Pandas dataframe.
    query = "SELECT * FROM " + table + ";"
    df = pd.read_sql_query(query, conn)

    conn.close()

    # Store each dataframe as a CSV file (in .csv and .txt extensions) and a TSV file in .txt extension.
    ext_CSV_csv = table +"_CSV.csv"
    ext_CSV_txt = table +"_CSV.txt"
    ext_TSV_txt = table +"_TSV.txt"

    df.to_csv(os.path.join(directory, ext_CSV_csv), index = False)
    df.to_csv(os.path.join(directory, ext_CSV_txt), index = False)
    df.to_csv(os.path.join(directory, ext_TSV_txt), sep = "\t", index = False)


    # Store each dataframe file as a .json file by using to_json() in Pandas.
    ext_json = table + ".json"
    df.to_json(os.path.join(directory, ext_json))

    # Read each .json file as a single string by using read() function in Python.
    with open(os.path.join(directory, ext_json), "r") as json_file:
        json_data = json_file.read()

    # Create a JSON object by using json.loads().
    json_object = JSON.loads(json_data)

    # Convert the JSON object into an indented format by using json.dumps() function.
    json_formatted = JSON.dumps(json_object, indent = 2)

    # Write the formatted data into a file with .json extension. Use write() function.
    ext_json_formatted = table + "_formatted.json"
    with open(os.path.join(directory, ext_json_formatted),"w") as file:
        file.write(json_formatted)

In [82]:
chinook = "..\\data\\chinook.db"
directory = "Assignment4_files_auto\\"
table = "artists"

file_write(table, db_loc=chinook, save_loc=directory)

In [86]:
map(lambda x: file_write(x, db_loc=chinook, save_loc=directory), table_names)

<map object at 0x0000028CAC083088>

In [88]:
print(map(lambda x: len(x), table_names))

<map object at 0x0000028CADA20948>

In [90]:
for table in table_names:
    file_write(table, db_loc=chinook, save_loc=directory)

In [93]:
all_files = os.listdir(directory)
print(f"There are {len(all_files)} in this directory (5 files for each table)!")
all_files

There are 65 in this directory (5 files for each table)!

['albums.json',
 'albums_CSV.csv',
 'albums_CSV.txt',
 'albums_formatted.json',
 'albums_TSV.txt',
 'artists.json',
 'artists_CSV.csv',
 'artists_CSV.txt',
 'artists_formatted.json',
 'artists_TSV.txt',
 'customers.json',
 'customers_CSV.csv',
 'customers_CSV.txt',
 'customers_formatted.json',
 'customers_TSV.txt',
 'employees.json',
 'employees_CSV.csv',
 'employees_CSV.txt',
 'employees_formatted.json',
 'employees_TSV.txt',
 'genres.json',
 'genres_CSV.csv',
 'genres_CSV.txt',
 'genres_formatted.json',
 'genres_TSV.txt',
 'invoices.json',
 'invoices_CSV.csv',
 'invoices_CSV.txt',
 'invoices_formatted.json',
 'invoices_TSV.txt',
 'invoice_items.json',
 'invoice_items_CSV.csv',
 'invoice_items_CSV.txt',
 'invoice_items_formatted.json',
 'invoice_items_TSV.txt',
 'media_types.json',
 'media_types_CSV.csv',
 'media_types_CSV.txt',
 'media_types_formatted.json',
 'media_types_TSV.txt',
 'playlists.json',
 'playlists_CSV.csv',
 'playlists_CSV.txt',
 'playlists_formatted.json',
 'playlists_TSV.txt',
 'playlist_track.json',
 'playlist_track_CSV.csv',
 'playlist_track_CSV.txt',
 'playlist_track_formatted.json',
 'playlist_track_TSV.txt',
 'sqlite_sequence.json',
 'sqlite_sequence_CSV.csv',
 'sqlite_sequence_CSV.txt',
 'sqlite_sequence_formatted.json',
 'sqlite_sequence_TSV.txt',
 'sqlite_stat1.json',
 'sqlite_stat1_CSV.csv',
 'sqlite_stat1_CSV.txt',
 'sqlite_stat1_formatted.json',
 'sqlite_stat1_TSV.txt',
 'tracks.json',
 'tracks_CSV.csv',
 'tracks_CSV.txt',
 'tracks_formatted.json',
 'tracks_TSV.txt']