<center> <h1>DataFrame Exercise (Olympics)</h1> </center>

The following code loads the olympics dataset "olympics.csv" from a local directory and does some basic data cleaning.

In [14]:
import pandas as pd
%cd C:\\Users\\yasin.unlu\\Documents\\Original Docs\\Documents1\\Docs\\Teaching\\PythonForDataScienceSummer2020\\Data\\Olympics

df = pd.read_csv('olympics.csv', index_col=0, encoding= 'unicode_escape')

#let's clean up the data
new_columns = ("summer_participations",
"summer_gold",
"summer_silver",
"summer_bronze",
"summer_total",
"winter_participations",
"winter_gold",
"winter_silver",
"winter_bronze",
"winter_total",
"total_participations",
"total_gold",
"total_silver",
"total_bronze",
"total_combined")
df.columns = new_columns
names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

C:\Users\yasin.unlu\Documents\Original Docs\Documents1\Docs\Teaching\PythonForDataScienceSummer2020\Data\Olympics

,summer_participations,summer_gold,summer_silver,summer_bronze,summer_total,winter_participations,winter_gold,winter_silver,winter_bronze,winter_total,total_participations,total_gold,total_silver,total_bronze,total_combined,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

## Question-1
Create a dedicated dataframe for the first country in df and report it.

In [13]:
new_df = df.head(1) #returns first row as a new dataframe
new_df = df.iloc[0] #returns first row as a pandas series
new_df = df.iloc[[0]] #returns first row as a dataframe
new_df

,summer_participations,summer_gold,summer_silver,summer_bronze,summer_total,winter_participations,winter_gold,winter_silver,winter_bronze,winter_total,total_participations,total_gold,total_silver,total_bronze,total_combined,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG

## Question-2
Which country has won the most gold medals in summer games? Use for loop and if statement for your work.

In [29]:
max = 0
my_list = list(df['summer_gold']) #keeps number of summer gold medals
my_index = list(df.index) #keeps country names

for index, n_golds in enumerate(my_list):
    if n_golds >= max:
        max = n_golds
        tempIndex = index
my_index[tempIndex]

'United States'

You can also use a build-in Pandas function. We will use .idmax() function which is detailed in the link below. 
https://pandas.io/docs/reference/api/pandas.DataFrame.idxmax.html
You browse and study other Pandas buil-in functions.

In [31]:
df['summer_gold'].idxmax()

'United States'

# Question-3
Which country has the biggest difference between their summer and winter gold medal counts? Use for and if statement for your work.

In [54]:
tempDiff = 0
my_list_summer = list(df['summer_gold']) #keeps number of summer gold medals
my_list_winter = list(df['winter_gold']) #keeps number of winter gold medals
my_index = list(df.index) #keeps country names

for index, country in enumerate(my_index):
    diff = abs(my_list_summer[index] - my_list_winter[index])
    if diff >= tempDiff:
        tempDiff = diff
        tempCountry = country #keep the country name that has the largest difference in summer and gold medals
print(tempCountry)

United States

You can use a build-in Pandas function.

In [55]:
df['Gold Medal Diff'] = abs(df['summer_gold'] - df['winter_gold']) #add a new column named "Gold Medal Diff"
df['Gold Medal Diff'].idxmax()

'United States'

## Question-4
Which country has the biggest difference between their summer gold medal counts and winter gold medal counts relative to their total gold medal count? 

$$\frac{Summer~Gold - Winter~Gold}{Total~Gold}$$

Only include countries that have won at least 1 gold in both summer and winter.

In [71]:
tempDiff = 0
my_list_summer = list(df['summer_gold']) #keeps number of summer gold medals
my_list_winter = list(df['winter_gold']) #keeps number of winter gold medals
my_list_total = list(df['total_gold']) #keeps number of total gold medals
my_index = list(df.index) #keeps country names

for index, country in enumerate(my_index):
    #check if a country has won a least 1 gold in both summer and winter.
    if my_list_summer[index] > 0 and my_list_winter[index] > 0: 
        #check if the denominator is nonzero to avoid numerical issues
        if my_list_total[index] > 0:
            rel_diff = abs(my_list_summer[index] - my_list_winter[index])/my_list_total[index]
            if rel_diff >= tempDiff: #nested if
                tempDiff = rel_diff
                tempCountry = country #keep the country name that has the largest difference in summer and gold medals
print(tempCountry)

Bulgaria

You can use a build-in Pandas function.

In [73]:
df_result = df.copy() #clone the existing dataframe
#make sure a country has won a least 1 gold in both summer and winter.
df_result = df_result[(df_result['summer_gold'] > 0) & (df_result['winter_gold'] > 0)] 
df_result['Gold Medal Diff'] = abs(df_result['summer_gold'] - df_result['winter_gold'])
df_result['Total Gold'] = df_result['summer_gold'] + df_result['winter_gold']
df_result['Relative Gold'] = df_result['Gold Medal Diff']/df_result['Total Gold']
df_result['Relative Gold'].idxmax()

'Bulgaria'

## Question-5
Add a new column called "Points" which is a weighted value where each total gold medal counts for 3 points, total silver medals for 2 points, and total bronze medals for 1 point. Report the first 5 rows of the new dataframe. Report the country that has the most points.

In [76]:
df['Points'] = df['total_gold']*3 + df['total_silver']*2 + df['total_bronze']
df.head()

,summer_participations,summer_gold,summer_silver,summer_bronze,summer_total,winter_participations,winter_gold,winter_silver,winter_bronze,winter_total,total_participations,total_gold,total_silver,total_bronze,total_combined,ID,Gold Medal Diff,Points
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG,0,2
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG,5,27
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG,18,130
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM,1,16
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ,3,22

In [78]:
df['Points'].idxmax()

'United States'